[2015-02-02 16:00] jasonkuhrt opened #2 "How would we use persistentDisk?"
The Kubernetes `volumes` docs have information about the currently supported source types:

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/volumes.md#gcepersistentdisk

What we want is the Elasticsearch cluster to have a data node that has *lots* of disk space. We need a persistent disk for this. The only one supported right now is `persistentDisk `. But there is a limitation w

[2015-02-02 16:11] jasonkuhrt opened #3 "Abusing image tags?"
I noticed you are using tags to differentiate the parts of the Elasticsearch images (data, master, API).

Would it not be better to reserve the tags for the `semver` version info? Right now I don't have a choice as to which version of Elasticsearch I want to use.

[2015-02-02 18:44] pires commented on #3
That's something I gave a thought about and the thing is that for me to provide automated trusted builds, all three Dockerfiles needed to share the same repo. Otherwise, you won't be able to use ```pires/elasticsearch``` for all of them. And actually, in order to tag images and pull them, I'll have to do it by hand. So, instead of ```elasticsearch:lb-latest``` you can have ```elasticsearch:lb-1.4.

[2015-02-02 18:48] pires commented on #2
I have a workaround for this that is related to https://github.com/GoogleCloudPlatform/kubernetes/issues/3945 in the sense that we can limit the number of Elasticsearch data-nodes, which I think are the only ones needing to persist data, running on a minion. Sorry, node :-p

[2015-02-03 00:07] jasonkuhrt commented on #2
Yes, by simply using `replicas: 1`. In what sense does GoogleCloudPlatform/kubernetes#3945 factor in here? Your issue seems a lot fancier because its about smart resource allocation wherein e.g. its impossible to schedule more than one pod per machine because e.g. it doesn't make sense for throughput.

So while we have  "solution" with `replicas: 1` its a very limiting one of course because we can

[2015-02-03 00:13] pires commented on #2
I think we can set the number of replicas we wish. We just need a couple
things:
* nodeSelector for pods to be scheduled in specific machines marked with
predefined labels
* set data-node pods resources (like ram) to match the VM allocated ram in
a way that said machine can't hold more than one data-node.

This way you can have multiple data-nodes and as many replicas as machines
available.
On Feb

[2015-02-03 02:22] jasonkuhrt commented on #2
Ok, I'm curious to see what you will come up with. I'm trying things on my fork and will share anything useful.

[2015-02-03 15:00] jasonkuhrt commented on #2
You can see some issues I am running into with `PD` here: https://github.com/GoogleCloudPlatform/kubernetes/issues/4052

[2015-02-03 15:48] jasonkuhrt opened #5 "Error with data node"
I am seeing this error in the logs:

[code]

Given this Pod that I launched (a variation on yours that uses a `PD`:
[code]

[2015-02-03 15:59] jasonkuhrt commented on #5
Also error with lb-node:

[code]

[2015-02-03 17:10] pires commented on #5
This is some problem accessing your kubernetes api.

[2015-02-03 17:15] jasonkuhrt commented on #5
hmm, yeah.

[2015-02-03 17:17] jasonkuhrt commented on #5
What business does Elasticsearch have using the Kubernetes API?

[2015-02-05 01:57] pires commented on #5
It uses kubernetes api for discovering other elasticsearch nodes based on some labels (in this case component:elasticsearch.

[2015-02-05 02:10] jasonkuhrt commented on #5
@pires Ah ok. I'm going to be back on this tomorrow and will dig in again.

[2015-02-05 02:11] jasonkuhrt commented on #5
e.g. https://github.com/pires/kubernetes-elasticsearch-cluster/blob/master/node-data/elasticsearch.yml#L14 right?

[2015-02-05 19:27] jasonkuhrt commented on #5
I noticed that it is trying to make a request like so: http://10.23.243.201:443/api/v1beta1/pods. I `ssh`ed into my `k8s` machines to try and replicate the request with `curl` but no luck:

[code]

I feel like until I can create a successful HTTP request myself with `curl` then of course elasticsearch-kubernetes is not going to work.

[2015-02-05 19:37] jasonkuhrt commented on #5
I was able to successfully access my cluster's pods by navigating to `https://104.154.53.226:443/api/v1beta1/pods` in my browser (had to accept the insecure warning, and then enter my kubernetes auth credentials).

This means that the API is working at this level. Why its not working when `elasticsearch-cloud-kubernetes` tries to access it I do not know yet. I also am not clear on the IP it is usi

[2015-02-06 15:39] pires commented on #5
This has something to do with your Kubernetes master configuration and the environment variables injected into the container(s). Can you ssh into a minion, run ```docker ps```, choose one container ID and..

[code]

You should see something like:
[code]

Can your point out the values for ```KUBERNETES_RO_SERVICE_HOST``` and ```KUBERNETES_RO_SERVICE_PORT=80```?

[2015-02-06 15:51] jasonkuhrt commented on #5
I'll try this later. I took down the Elasticsearch cluster.

[2015-02-06 16:23] jasonkuhrt commented on #5
Hey, here are the details:

#### `master` on `node-2`

[code]
[code]

#### `load-balancer` on `node-1`

[code]
[code]

[2015-02-06 16:29] jasonkuhrt commented on #5
So according to the environment variable values inside the container `KUBERNETES_RO_SERVICE_HOST` is `10.23.255.235` in both `lb` and `master`. On the other hand the error from `Elasticsearch` is:

`master`
[code]

`load-balancer`
[code]

[2015-02-06 16:34] jasonkuhrt commented on #5
Based on the IP `Elasticsearch` is trying to use (`10.23.243.201`) here are the ENV vars that have the same value as that IP:

[code]

[2015-02-06 16:59] pires commented on #5
This could be related to https://groups.google.com/forum/#!topic/google-containers/4yH5xBTbu2U

[2015-02-06 17:30] jasonkuhrt commented on #5
@pires Question. Should `io.fabric8.elasticsearch.discovery.k8s.K8sUnicastHostsProvider` be trying to use `KUBERNETES_SERVICE_HOST` or `KUBERNETES_RO_SERVICE_HOST`?

My understanding is that `io.fabric8.elasticsearch.discovery.k8s.K8sUnicastHostsProvider` should use the `RO` variant. But it is not. This would mean a bug with ... https://github.com/fabric8io/elasticsearch-cloud-kubernetes, no?

[2015-02-06 17:35] jasonkuhrt commented on #3
Yeah that probably makes the most sense. Sigh, I feel like Docker has a half-baked abstraction around tags and distribution. At least `git` allows multiple tags per node. : (

[2015-02-06 17:35] #3 closed

[2015-02-06 18:02] pires commented on #5
Well, in principle both approaches should work. I think it's a kube bug as I've pointed out before. Let's wait to see if Cullen's PR will fix it.

[2015-02-06 18:04] cjcullen commented on #5
Yeah. Hitting the RO endpoint should probably give elasticsearch what it needs, but it also should work how it is.

[2015-02-06 18:12] cjcullen commented on #5
Here's the issue I filed to hopefully help others who are searching for similar problems:
https://github.com/GoogleCloudPlatform/kubernetes/issues/4216

I'm working on a PR now.

[2015-02-06 18:13] pires commented on #5
@cjcullen thanks for letting us know.

@jdyson or @jstrachan want to comment on the Fabric8 Kubernetes API side of things, namely why you chose to read from the read-write service instead of read-only?

[2015-02-06 18:30] jasonkuhrt commented on #5
Regarding fix being released to GKE, quoting @cjcullen from mailing list:

[2015-02-06 18:47] pires commented on #3
@jasonkuhrt I feel your pain.

[2015-02-06 18:48] pires commented on #5
Awesome, @jasonkuhrt please close this when you're able to test said fix.

[2015-02-11 00:58] cjcullen commented on #5
Updating my original statement: Kubernetes only had a patch release this week, so the next minor release (with this fix) won't be live in GKE until next week :(.

[2015-02-12 10:33] pires commented on #5
@cjcullen thanks for the update. Since this is a P1, will you cut a 0.10.2 release anytime soon?

[2015-02-20 10:40] pires commented on #5
@jasonkuhrt can you confirm this is fixed with 0.11.0?

[2015-02-20 13:30] jasonkuhrt commented on #5
@pires Ah ok. I will try this in the next few days.

[2015-02-23 20:14] pires commented on #5
It's working :-)

[2015-02-23 20:14] #5 closed

[2015-02-23 21:54] jasonkuhrt commented on #5
@pires Awesome!

[2015-03-03 19:26] heytrav commented on #5
I'm currently seeing this behaviour using the `v0.11.0-dirty` binaries.

[2015-03-12 18:36] ehacke opened #6 "Killing machine doesn't migrate the pod"
I'm running your [elasticsearch cluster](https://github.com/pires/kubernetes-elasticsearch-cluster) project on top of your [kubernetes coreos vagrant](https://github.com/pires/kubernetes-vagrant-coreos-cluster) project.

First of all, thanks for both of these, they work great and have saved me a lot of work.

However, it looks like if I deploy the elasticsearch cluster on top of 1 master and 4 min

[2015-03-12 18:54] ehacke commented on #6
Ha. Ok, so I stand corrected. It does work.

It just take really long, it took 13 minutes to figure out that the machine was gone. That's seems far too long, but I imagine there is some way I can over-ride the default heartbeat timeout.

You can close this issue if you'd like.

[2015-03-13 09:59] pires commented on #6
@ehacke I believe this is a Kubernetes issue that I've discussed earlier, but I've tried to look for it without success. Can you open a new issue there and ref this one, please?

[2015-03-13 11:51] ehacke commented on #6
@pires Yes, will do.

[2015-03-17 10:18] pires commented on #6
Thank you, @ehacke. It seems I was right. Let's keep in touch and close this whenever the fix is merged.

[2015-03-17 15:24] ehacke commented on #6
@pires yeah it looks like they are fixing it fairly quickly.

Not certain if my original 13 minute pod rejection issue is real/reproducible, but it does look like they are fixing the erroneous pod status reporting.

[2015-03-22 04:43] TimHeckel opened #7 "How can I spin up multiple, independent elasticsearch instances on the same kubernetes cluster?"
This is probably simple, but I've spun up the 5-node based kubernetes cluster by following the [AWS tutorial](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/aws.md), and was able to follow your instructions to create the elasticsearch service on the cluster.

So all of that is wonderful, but here's my question: *can I create multiple elasticsearch instanc

[2015-03-22 04:47] pires commented on #7
Makes perfect sense! I'll have to change Docker files so that's possible to pass Elasticsearch configuration file to the container.

[2015-03-26 11:28] pires opened #8 "Upgrade to 1.5.0"

[2015-03-26 11:30] pires commented on #8
Depends on https://github.com/fabric8io/elasticsearch-cloud-kubernetes/pull/8 to be merged.

[2015-03-26 18:45] pires commented on #7
@TimHeckel I've been thinking about this and here's some thoughts:

* Right now, you'd have to change `elasticsearch.yaml` and generate a Docker image per Elasticsearch cluster and node type (maximum of three, one master, one load-balancer, one data-node)
* This is not optimal, but AFAIK there's no way of reusing `elasticsearch.yml` and just overwrite the cluster name so it may be the only chance

[2015-03-27 10:26] pires commented on #8
It has been merged, now I need to use https://github.com/pires/docker-elasticsearch as base image.

[2015-03-29 23:10] #8 closed

[2015-04-06 21:51] tamsky commented on #7
Environment variables >> static config files

+1 to using environment variables (some required, such as `ES_CLUSTER_NAME`, and sane defaults for others) to populate the `elasticsearch.yml` file on initial startup.

[2015-04-25 00:34] mulloymorrow opened #9 "Cannot redeploy cluster in k8s"
Following the deployment of an app with 2GB of memory usage, ES cannot be resized or deployed in k8s.

Following error when spinning up ES cluster in k8s:

[code]

filed issue with fabric8io too: https://github.com/fabric8io/elasticsearch-cloud-kubernetes/issues/9

[2015-04-25 01:23] pires commented on #9
You are right, this is a bug with fabric8 kubernetes-api project. I have it fixed on my side, but need the `elasticsearch-cloud-kubernetes` maintainer to agree on it before making the PR.

Thank you for reporting.

[2015-05-01 14:05] #6 closed

[2015-05-17 21:33] pires opened #10 "Move to API v1beta3"

[2015-05-17 21:34] pires opened #11 "Move to Quay.io"
Move from Docker Hub to Quay.io.

[2015-06-02 09:59] pires commented on #9
@mulloymorrow let me know if the new release (to be cut by @jimmidyson) fixes it so we can close this one. Thank you for bearing with me here.

[2015-06-03 10:19] #9 closed

[2015-06-05 06:33] mkliu opened #12 "Any stress tests?"
I'm wondering have you run this in production with some serious data to stress test it?

I'm thinking about doing the same thing but worried about nodes going up&down and cause ElasticSearch moving shards around.

Kubernetes is designed for micro services which can die any time, but for Elasticsearch clusters which have a big amount of data, that would be disastrous.

[2015-06-05 08:31] pires commented on #12
You are right in the sense Kubernetes is not yet prepared for stateful services that need to store persistent data.

This is an exercise and I don't use it in production.

[2015-06-05 08:31] #12 closed

[2015-06-05 11:18] pires opened #13 "Make Elasticsearch more configurable with environment variables"

[2015-06-13 16:26] borgenk opened #14 "Deprecated API in Kubernetes v0.19.0"
Hey, great work in this.

Kubernetes v0.19.0 removed the v1beta2 API which the discovery plugin uses (if used with selector).

[code]

If I understand it correctly, it seems to be fixed upstream with this commit:
https://github.com/fabric8io/fabric8/commit/f233163d9137cd59e32c6cd16bbad2a1fa25fcb3

And the following one for the plugin:
https://github.com/fabric8io/elasticsearch-cloud-kubernetes/com

[2015-06-14 17:29] pires commented on #14
Thank you for reporting. Working on it.

[2015-06-24 16:56] #14 closed

[2015-06-24 17:00] pires commented on #10
Fixed by https://github.com/pires/kubernetes-elasticsearch-cluster/commit/c1d8e7a351cd10aa08149f16dbe55b4763c185d3.

[2015-06-24 17:00] #10 closed

[2015-07-29 01:47] changx opened #15 "serviceAccount should be serviceAccountName"
I have started an elasticsearch cluster on my kubernetes with file here, everything works fine except the  master/lb/data pods, the discovery plugin got `HTTP 401 Unauthorized` error from kube API server, the reason for that is the incorrect service account property in the pod, I'm not sure if it is changed from previous version of kubernetes, currently the correct name should be `serviceAccountNa

[2015-07-29 06:03] pires commented on #15
I will look into this. Really weird, working with my Kubernetes set-up. Otherwise, wouldn't be able to start it and update the documentation according to the latest versions.

[2015-07-30 09:51] mlamina commented on #2
Has there been any solution to this problem? I can't figure out how to provide persistent storage for my Elasticsearch cluster, which makes it useless :(

[2015-07-30 10:06] pires commented on #2
@mlamina this is not a bug so it doesn't need to be fixed. This is something that you, as an user, should change to match your environment. I can't force a volume setup other than the `emptyDir` nor can I support every possibility in existence. I urge you to learn about Kubernetes volume plug-ins and adapt the data node `replicationController` as you see fit.

[2015-07-30 10:06] #2 closed

[2015-07-30 10:47] mlamina commented on #2
I understand that! Do you have a recommendation which scales with the ReplicationController? GCE PersistentDisk doesn't seem to work and I feel like setting up a GlusterFS cluster seems to be overkill?

[2015-07-30 11:21] pires commented on #2
There are more plug-ins than those two. Choose what's best to your use-case.

[2015-07-30 22:07] pires commented on #15
@changx can you please point me where in the documentation or examples one finds such `serviceAccountName` instead of `serviceAccount`? Does your cluster allow for tokens?

[2015-07-30 22:46] Andre-Freitas commented on #15
i also changed in my rc because they have this in there api reference https://godoc.org/github.com/GoogleCloudPlatform/kubernetes/pkg/api#PodSpec

[2015-07-31 05:05] changx commented on #15
@pires

https://htmlpreview.github.io/?https://github.com/GoogleCloudPlatform/kubernetes/HEAD/docs/api-reference/definitions.html#_v1_podspec

and, sure it is changed in commit

https://github.com/GoogleCloudPlatform/kubernetes/commit/7a3891e5f8819456b355750c0603e48da35b895b

14 days ago....

[2015-07-31 06:22] pires commented on #15
This is not documentation but code and I didn't see where they removed the `serviceAccount`. It's working for me.

[2015-07-31 11:06] pires commented on #15
I've tried once more with 1.0.1 as per https://github.com/pires/kubernetes-vagrant-coreos-cluster and the Elasticsearch cluster works as is. I'll close this but please do provide more feedback.

[code]

[2015-07-31 11:06] #15 closed

[2015-08-21 11:11] #7 closed

[2015-08-21 11:11] #11 closed

[2015-08-21 11:11] #13 closed

[2015-09-02 16:34] pires opened #16 "Can't lock JVM memory"
http://www.slideshare.net/planetcassandra/cassandra-and-docker-lessons-learnt#21

[2015-09-02 16:35] pires opened #17 "Allow for any namespace"

[2015-09-02 16:35] pires opened #18 "Force secure Kubernetes API access"

[2015-09-02 16:36] #16 closed

[2015-09-02 16:36] #17 closed

[2015-09-02 16:36] #18 closed

[2015-09-29 16:15] AlexRezid opened #21 "Certificates error"
Hi,

I'm not sure if it's a bug or not, but following the readme doc give me an error :
`[2015-09-29 15:50:57,570][ERROR][io.fabric8.kubernetes.api.KubernetesFactory] Specified CA certificate file /var/run/secrets/kubernetes.io/serviceaccount/ca.crt does not exist or is not readable`

Followed by lot of
`Caused by: javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException: PKI

[2015-09-29 16:21] pires commented on #21
@AlexRezid that's a problem with your Kubernetes installation. Can you list the contents of `/var/run/secrets/kubernetes.io/serviceaccount` on the nodes you're trying to deploy this example?

[2015-09-29 16:24] AlexRezid commented on #21
@pires The folder does not exist on the master nor the nodes....

    core@nodeXXXX ~ $ sudo ls /var/run/secrets
    ls: cannot access /var/run/secrets: No such file or directory

kubernetes v1.0.3
Installed from : https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/coreos/coreos_multinode_cluster.md

[2015-09-29 16:25] pires commented on #21
Sorry, it should exist **only** on the pods themselves not the nodes.

[2015-09-29 16:28] pires commented on #21
@AlexRezid unfortunately said tutorial doesn't support certificates and it's about to be deprecated in favor of https://coreos.com/kubernetes/docs/latest/getting-started.html. Please use that or https://github.com/pires/kubernetes-vagrant-coreos-cluster.

[2015-09-29 16:28] #21 closed

[2015-09-29 16:29] AlexRezid commented on #21
@pires Thanks, will have a look on this.

[2015-10-07 14:09] sgrimee commented on #2
In case someone lands here looking for a workaround, I used the suggestion from @davidopp in  kubernetes/kubernetes#3945: set a hostPort for the datanode pod. That prevents two instances of from being scheduled on the same node.

        ports:
        - containerPort: 65535
          name: anti-affinity
          hostPort: 65535

It is sub optimal because the anti-affinity port number needs to be

[2015-10-07 15:03] pires commented on #2
You can also try integration with [`flocker`](https://github.com/ClusterHQ/flocker).

[2015-11-11 23:52] codingwithoutcomments opened #22 "Using data volume for data pods"
How would one go about using attached data volumes instead of storing data on the instance?

[2015-11-12 02:17] pires commented on #22
@codingwithoutcomments it's as easy as [set-up one volume](http://kubernetes.io/v1.1/docs/user-guide/volumes.html) and mount it at https://github.com/pires/kubernetes-elasticsearch-cluster/blob/master/es-data-rc.yaml#L50.

[2015-11-12 02:17] #22 closed

[2015-11-17 10:36] drora opened #23 "Upgrade to Elasticsearch 2.0.0"

[2015-11-17 16:37] jchauncey opened #24 "error when starting master"
[code]

[2015-11-17 17:16] pires commented on #24
Can you SSH to any of the Kubernetes nodes and run:
`curl http://10.100.0.1:443/api/v1/namespaces/default/endpoints/elasticsearch-discovery`

or

`curl https://10.100.0.1:443/api/v1/namespaces/default/endpoints/elasticsearch-discovery`

Also, run `kubectl get services,rcs,pods`.

[2015-11-17 17:34] jchauncey commented on #24
[code]

[code]

So right now I am only starting the master (all attempts to start the other 2 replication controllers have failed as well even following your readme).

Here is the output from the latest start

[code]

[2015-11-17 17:35] pires commented on #24
What version of Kubernetes?

[2015-11-17 17:40] jchauncey commented on #24
[code]

[2015-11-17 17:52] pires commented on #24
@jchauncey how have you deployed Kubernetes? Is the HTTPS API provisioned?

[2015-11-17 17:58] jchauncey commented on #24
hrm Im actually not sure Im using this - https://github.com/rimusz/coreos-osx-gui-kubernetes-cluster

[2015-11-17 18:06] jchauncey commented on #24
according to this yeah im running the https version -

[code]

[2015-11-17 18:13] pires commented on #24
The API server is definitely not working properly so I'm thinking it's a certificate issue. As you can see, the `elasticsearch-master` node and related services have been provisioned.

[2015-11-17 18:21] jchauncey commented on #24
[code]

thats the log output from the api server btw. Ill keep digging and see what I find out

[2015-11-17 18:23] jchauncey commented on #24
this is how its started -

[code]

[2015-11-17 18:24] jchauncey commented on #24
hah the secure port is 6443 not 443

[2015-11-17 18:31] pires commented on #24
@jchauncey `kubernetes` service is exposing 443 so it should work, but somehow, that certificate is not accepted by the pods.

Can you try this other solution? https://github.com/pires/kubernetes-vagrant-coreos-cluster/blob/master/master.yaml#L149

[2015-11-17 20:09] jchauncey commented on #24
so i copied what you have to make the certs and changed the unit file to start the api server with them. Also made sure that the controller and other units looked like yours as well. I am still getting the same error so not sure whats up.

[2015-11-17 20:23] jchauncey commented on #24
just realized I should have been posting the entire log from master -

[code]

[2015-11-17 20:35] jchauncey commented on #24
going to give up on this for now. so im closing the issue

[2015-11-17 20:35] #24 closed

[2015-11-17 21:14] pires commented on #24
@jchauncey this is caused by a bogus Kubernetes installation. If you try the official way or the link I provided you with, it will work.

[2015-11-17 21:14] pires commented on #24
@jchauncey have you run `kubectl create -f service-account.yaml`?

[2015-11-17 21:18] jchauncey commented on #24
yup

[2015-11-17 22:35] jchauncey commented on #24
what do you mean by bogus? My unit files look exactly like what you ahve in your master.yaml

[2015-11-18 10:52] pires commented on #24
The API SSL certificate is not being validated by the pod, that's why this is failing. I just tried with my installation and it works out-of-the-box. Same applies for the official release. I want to help, but unfortunately I can't do much atm.

[2015-11-19 10:59] pires commented on #23
@drora we're working some _bugs_ out at https://github.com/fabric8io/elasticsearch-cloud-kubernetes/issues/18. Since Elasticsearch no longer runs as `root`, there seems to be a lot of issues with permissions. Care to jump aboard the discussion? All help is highly appreciated.

[2015-11-19 11:01] pires commented on #23
@dermidgen I'm referring to your issue in this repo and we'll continue here.

Refs https://github.com/pires/docker-elasticsearch/issues/6

[code]

[2015-11-19 17:24] pires commented on #23
Working on it.

[2015-11-20 09:44] #23 closed

[2015-11-23 16:07] pires opened #26 "2.0.0 not working?"
See #25.

[2015-11-26 09:16] pires commented on #26
It works.

[2015-11-26 09:16] #26 closed

[2016-01-15 02:03] drocsid opened #27 "Master cannot connect to api-server from default project"
On other pods in my cluster I have no trouble with DNS:

[code]

However, when following the instructions from the readme, with the "vanilla" settings, from the master:

[code]

Why is the DNS server null from the master container?

The resolv.conf is the same on both hosts.
[code]

This is on CoreOS 835.1 with Kubernetes 1.0.6, and certificates generated with this guide:

https://coreos.com/kuber

[2016-01-15 03:05] drocsid commented on #27
@pires I asked somebody on slack to try it out, who was also running coreOS and followed the docs deploying the certs:

https://gist.github.com/jhgaylor/32dc040201443ccd1c28

[2016-01-15 03:06] drocsid commented on #27
That makes 2 of us.

[2016-01-15 09:32] pires commented on #27
So Elasticsearch accessed the following HTTPS host:

But the certificate does not include that alternative name:

The solution is to [generate the certificates properly.](https://github.com/pires/kubernetes-vagrant-coreos-cluster/blob/master/master.yaml#L125).

[2016-01-15 16:07] drocsid commented on #27
What can I say but the docs https://coreos.com/kubernetes/docs/latest/openssl.html don't suggest creating the services with kubernetes.default.svc ; only kubernetes.default . So more people will have issues. Instead you could just use kubernetes.default; since that's what's in the docs. Alternatively change the coreOS cert gen docs.

[2016-01-15 16:10] pires commented on #27
Where exactly would I set this?

[2016-01-15 16:29] drocsid commented on #27
I would assume in the discovery plugin. I can try grepping through their plugin codebase later today. It looks like the coreOS docs should be updated to include kubernetes.default.svc in their docs, as they show it in their AWS configuration section.

[2016-01-15 16:39] pires commented on #27
@drocsid thank you for digging this deeper. Would you agree this issue should be closed and open elsewhere (either CoreOS documentation or the discovery plug-in)?

[2016-01-15 16:48] drocsid commented on #27
I'm creating a pull request for CoreOS docs now. I will look at discovery-plugin as suggested later. Might be good to see if we can make the config change, just so people who already deployed don't need to regenerate their certs.

[2016-01-15 16:59] drocsid commented on #27
Maybe we should keep it open until coreOS updates their docs, or we change the plugin service name, so it works on a 'by the books' deployment.

[2016-01-15 17:02] pires commented on #27
Sure!

[2016-01-17 09:57] haizaar opened #28 "Please upgrade to ES 2.1.1"
ES 2.1.1 is out. Please upgrade.

Thank you very much for doing this work.

[2016-01-17 10:27] pires commented on #28
Working on that.

[2016-01-17 11:38] #28 closed

[2016-01-17 11:39] pires commented on #27
@drocsid can you please try 2.1.1? I think it shall help with this issue.

[2016-01-17 12:11] haizaar commented on #28
Wow! That was fast! Thank you again.

[2016-01-17 16:12] haizaar opened #29 "How to prevent ES from being exposed to the internet?"
More of a question than an issue - `es-svc.yaml` defines load balancer service, which in Google Cloud automatically gets assigned a public address and is opened to incoming traffic from the internet. Is there a way to avoid exposing it to the internet?

[2016-01-17 16:59] pires commented on #29
Just remove the load-balancer attribute.

[2016-01-17 16:59] #29 closed

[2016-01-17 17:21] haizaar commented on #29
I knew it was something trivial. Thanks!

[2016-01-17 20:54] drocsid commented on #27
@pires I re-deployed my cluster certificates. I can test it, but without the old certs. I also had a bad experience swapping my certs out. Restarting the api server and kubelets killed all my containers. Not sure if it was due to my error or by design. Thanks for your update.

[2016-01-17 22:15] pires commented on #27
@drocsid that kind you for your feedback and support. Truly appreciated.

[2016-01-17 22:15] #27 closed

[2016-01-30 23:09] KyleAMathews opened #30 "Add Sense UI?"
Not entirely this makes sense (new to Kubernetes and somewhat to ES) but it'd be cool if you could add the Sense plugin and use `kubectl proxy` to be able to live query production data.

Thoughts?

[2016-01-31 11:07] pires commented on #30
You can do it with your own images that use `quay.io/pires/docker-elasticsearch-kubernetes` as base image. I don't think it would make sense to add that here and force _everyone_ to use it. I've never used, for instance.

[2016-01-31 11:07] #30 closed

[2016-01-31 18:26] KyleAMathews commented on #30
Thanks
On Sun, Jan 31, 2016 at 3:07 AM Paulo Pires <notifications@github.com>
wrote:

[2016-02-06 00:32] feelobot opened #31 "Configurable Cluster Domain"
In the /etc/systemd/system/kube-kubelet.service config we set the domain to` --cluster_domain=vungle.local`

I believe the default is `cluster.local` and this doesn't seem to be configurable?

[2016-02-08 18:11] pires commented on #31
Did you try this image and it didn't work? At first I thought this was a limitation but after doing a little research on the issue I am under the impression this _just works_!

[2016-02-08 20:09] pires commented on #31
@jimmidyson is there any limitation with the discovery plug-in (inherited by fabric8 Kubernetes API)?

@feelobot let's keep this open until Jimmi gets back with an answer.

[2016-02-08 21:17] jimmidyson commented on #31
There's nothing hard coded in the plugin. Can you share logs? Could be a kubernetes bug in DNS resolution. I'd always suggest using the short DNS name rather than FQDN as the configuration cluster domain will be added as a search suffix in all pods in the cluster if configured.

[2016-02-08 21:51] pires commented on #31
@jimmidyson good catch, it may actually be the container DNS misbehaving. @feelobot care to copy the container `/etc/resolv.conf` contents and paste them here?

[2016-02-09 00:13] pires commented on #31
`search default.svc.cluster.local svc.cluster.local cluster.local ec2.internal` means you're using `cluster.local`. Try it with a different domain and let me know here.

Regarding the second error, it seems your Kubernetes install doesn't provide tokens to pods.

[2016-02-09 08:21] haizaar opened #32 "Please upgrade to ES 2.2.0"
Hi,

Sorry for bugging you again, but ES 2.2.0 it out. It's required by Kibana 4.4 (freshly released as well) which brings cool features like custom chart colors.

Can you please update the dockers/yamls?

Thanks,
Zaar

[2016-02-09 13:04] pires commented on #32
https://github.com/pires/docker-elasticsearch is already upgraded but I need the Kubernetes discovery plug-in, which I don't maintain, upgraded as well before closing this.

[2016-02-09 15:16] pires commented on #32
https://github.com/fabric8io/elasticsearch-cloud-kubernetes/pull/27 was merged. Working on this!

[2016-02-09 17:04] #32 closed

[2016-02-10 13:09] #31 closed

[2016-02-25 00:06] codingwithoutcomments opened #33 "Status "yellow""
When I scale up to 2 client and 3 master pods then do a curl on the cluster I get status "yellow"

curl http://ip_address:9200/_cluster/health?pretty
{
  "cluster_name" : "myesdb",
  "status" : "yellow",
  "timed_out" : false,
  "number_of_nodes" : 6,
  "number_of_data_nodes" : 1,
  "active_primary_shards" : 5,
  "active_shards" : 5,
  "relocating_shards" : 0,
  "initializing_shards" : 0,
  "unass

[2016-02-25 00:39] codingwithoutcomments commented on #33
Could this also be why my data isn't persistent even though I use a persistent disk for my data cluster?

[2016-02-25 06:09] codingwithoutcomments commented on #33
OK.  I scaled up my data nodes to "2" each having a different persistent disk.  My data nodes have persistent disks, but my client and master nodes do not.  If all the nodes are killed, but my disks aren't, will I still lose all my indexes on reboot?

[2016-02-25 12:02] pires commented on #33
This is why it's yellow. Not sure about the configuration, but you need to make sure you provide enough nodes to satisfy your sharding needs.

If new data nodes are provisioned with said disks, and since it's just Lucene stuff, it should be OK.

One note I want to make sure you're following:

Use this repo as an enabler to your Elasticsearch cluster on top of Kubernetes but do not assume this is r

[2016-02-25 12:02] #33 closed

[2016-03-11 21:13] gaga-github opened #34 "unable to find valid certification path to requested target es-master"
I am getting this error when I start up my first master.

[2016-03-11 20:52:43,835][WARN ][io.fabric8.elasticsearch.discovery.kubernetes.KubernetesUnicastHostsProvider] [Fight-Man] Exception caught during discovery: Error executing: GET at: https://kubernetes.default.svc/api/v1/namespaces/default/endpoints/elasticsearch-discovery. Cause: sun.security.validator.ValidatorException: PKIX path buildin

[2016-03-12 05:16] pires commented on #34
This seems to be an error related to SSL certificate not being available to the pod. Your install should provide it, otherwise you can't access secure Kubernetes API.

[2016-03-16 21:07] haizaar opened #35 "Please upgrade to ES 2.2.1"
Hello again.

ES 2.2.1 is out. Can you please upgrade the images/yamls?

P. S. I'm very grateful that you are maintaining this. Thanks again for your work!

[2016-03-16 21:15] #34 closed

[2016-03-17 16:58] pires commented on #35
Opened PR for plug-in update. https://github.com/fabric8io/elasticsearch-cloud-kubernetes/pull/33

[2016-03-17 18:20] #35 closed

[2016-03-31 07:36] haizaar opened #36 "ES 2.3.0"
Hi there,

It's this time of the year again - ES 2.3.0 is out and it will be absolutely awesome to have all its goodness in k8s.

Thanks again for your work.

[2016-04-21 15:30] #36 closed

[2016-04-22 10:56] haizaar commented on #36
Thank you very much!

/CC @worroc, @motinani

[2016-05-04 07:16] thuandt opened #37 "Rolling update in data node"
I'm use data node with  `gcePersistentDisk` as storage.
I can rolling update `es-master` and `es-client` without problem, but `kubectl` stuck when rolling update in `es-data`.
Can you tell me how to rolling update in `data node`?

Thanks

[2016-05-04 14:29] pires commented on #37
You should look into your Kubernetes cluster logs to understand why it isn't rolling the new containers. Did you set your own resource limits?

[2016-05-05 15:58] thuandt commented on #37
I don't put any resources limits.
Here is some logs:
[code]
But `es-data` stuck and timeout:
[code]

`xxx.gcr.io/xxx/elasticsearch:2.3.1` image i build for myself, based your image just added more plugin.

[2016-05-05 16:02] pires commented on #37
Again, you should look at your Kubernetes cluster logs. This doesn't seem an issue related to this project.

[2016-05-05 16:02] #37 closed

[2016-05-09 21:16] ScubaDrew opened #38 "I wish I could use my own Docker image"
Why can we not create our own Docker image for this?

"Providing your own version of the images automatically built from this repository will not be supported."

Thanks!
Drew

[2016-05-10 09:02] pires commented on #38
@ScubaDrew I never said you couldn't but just that I won't support it. Makes sense, right?

[2016-05-10 13:12] dhilipsiva opened #39 "[Suggestion] You should probably make this installable via Helm."
[helm.sh](http://helm.sh/)

[2016-05-10 13:51] pires commented on #39
AFAIK they're using my work or derivatives of it. @rimusz?

[2016-05-10 13:53] dhilipsiva commented on #39
@pires Oooh. Did not know that 😛

[2016-05-12 09:40] TheJena opened #40 "kubectl logs errors"
I have not built my image, just copyed / pasted the "Deploy" section of the readme.

`kubectl version`

Everything ok untill:
`kubectl get svc,rc,pods`

But `kubectl logs es-master-h0ble` (attached its output) has some errors.

What could I do?

[kubectl_logs.txt](https://github.com/pires/kubernetes-elasticsearch-cluster/files/260975/kubectl_logs.txt)

[2016-05-12 09:51] pires commented on #40
This happens because you don't have DNS properly configured on your Kubernetes cluster.

[2016-05-12 09:51] #40 closed

[2016-05-13 16:21] #39 closed

[2016-05-13 16:21] #38 closed

[2016-05-13 17:56] ScubaDrew commented on #38
@pires Absolutely makes sense. I thought you were saying we could _not_ provide out own images.

The reason I thought this is, when I inspect your Dockerfile, I see the base is:

`FROM **quay.io/pires**/docker-elasticsearch:2.3.2` versus pulling from the official elasticsearch:2.3.2 on hub.docker.com

Are the equivalent?

[2016-05-13 19:07] pires commented on #38
Nop. My image source is also available on my Github. I use Alpine Linux, OpenJDK 8u92 and a specific plug-in for discovery in a Kubernetes environment.

[2016-05-13 19:41] ScubaDrew commented on #38
Thanks for your patience with me Paul! :)

I'm in https://github.com/pires/docker-elasticsearch-kubernetes

The Dockerfile references

**FROM** quay.io/pires/docker-elasticsearch:2.3.2

Where can I find the Dockerfile for that base image?

Sorry if I'm missing something and thanks again for the help!

[2016-05-13 19:58] pires commented on #38
👍

[2016-05-19 06:00] thedanielforum opened #41 "ES Security"
How would i password protect access to the es-client?
I know that elastic offers a plugin called "shield", but how would I proceed to get it running on the cluster?

Any help would be greatly appreciated.

[2016-05-19 06:38] pires commented on #41
It's just a plug-in. Extend the image I use here and add as many plug-ins as you wish.

[2016-05-19 06:38] #41 closed

[2016-06-01 11:03] haizaar opened #44 "Please update to ES 2.3.3"
Hi Paulo,

Can you please update to ES 2.3.3? (It [fixes](https://github.com/elastic/elasticsearch/issues/18089) support for http compression).

Thank you as always!

[2016-06-09 08:53] pires commented on #44
Plug-in has been updated and will update no later than tomorrow.

[2016-06-10 11:28] #44 closed

[2016-06-13 08:11] SaMnCo opened #45 "How to manage scale out storage-backed data nodes"
Hi!
Great work on this cluster, as well as supporting the latest versions. Thanks :)

I am trying to get this to run in a nice & k8s-supported way, at scale, with a storage backend such as Flocker
**Note**: I tried with EBS backed volumes, and k8s fails to free the resources in time, so the volume doesn't follow the pod as needed and it's a fail.

So for that, I first need to create as many flocke

[2016-06-13 08:39] haizaar commented on #44
Thanks Paulo!

How can I buy you a beer?

[2016-06-13 13:05] SaMnCo commented on #45
Strangely enough, I restarted from scratch and
* Started with 1 of each
* Only scaled the data nodes to 2 (not to 3)
* Then scaled the client to 3
* Then the Master to 2

then it keeps running. If I add more masters, it fails again. If I add more clients, it's OK.

Any thoughts?

[2016-06-13 14:25] pires commented on #45
@SaMnCo I no longer run Elasticsearch at scale but I used Ceph for persistence.

Now, looking at your logs, it seems Kubernetes is killing the pods and you need to check your Kubernetes logs do understand why. It could be a case of resource limits being crossed or liveness/readiness probes, but I use none in this project.

[2016-06-13 14:33] devth commented on #45
I'm also curious about operating more than 1 data node with persistent volumes.

Ceph appears to only support a single writer and multiple readers, so that wouldn't work unless you have separate volumes, right?

Glusterfs apears to be the only persistence that supports multi-writers.

[2016-06-13 14:40] SaMnCo commented on #45
Since I was looking into Flocker for this, I asked #ClusterHQ on their IRC
channel about this issue. Specifically, I wanted to be able to run "kubectl
scale --replica=N" and have my stuff scaled, with the storage volumes
provisioned by k8s automagically.

So it's not possible for now. There is something coming up apparently
called "PetSet" that allow k8s to do the provisioning, but it's going to b

[2016-06-13 14:42] devth commented on #45
@SaMnCo thanks for passing on the info from ClusterHQ. K8S 1.3 can't come soon enough!

[2016-06-13 14:47] pires commented on #45
@devth

Correct.

Again, correct. I was going to move but then I dropped Elasticsearch usage.

[2016-06-15 05:50] tangfx opened #46 "io.fabric8.kubernetes.client.KubernetesClientException occured under kubernetes v1.3.0-alpha"
[vagrant@localhost origin]$ kubectl --kubeconfig=kubeconfig version
Client Version: version.Info{Major:"1", Minor:"4+", GitVersion:"v1.4.0-alpha.0.181+77419c48fd7d7e", GitCommit:"77419c48fd7d7e674b1947325f33716bb3671fbe", GitTreeState:"clean", BuildDate:"2016-06-15T01:42:25Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"3+", GitVersion

[2016-06-15 08:23] pires commented on #46
Your pods don't have the CA file to validate self-signed API server HTTPS.

[2016-06-15 08:23] #46 closed

[2016-06-22 12:21] pires opened #47 "Move from Replication Controllers to Deployments"
As soon as Deployments are GA.

[2016-07-07 13:13] devth opened #48 "SSL support"
Have you considered securing communication between ES nodes? [Search Guard](https://github.com/floragunncom/search-guard) is an open source alternative to Elastic's [Shield](https://www.elastic.co/products/shield) product that would enable this.

[2016-07-07 15:47] pires commented on #48
No. But I am open to participate in a debate around it or review a related PR.

[2016-07-07 15:55] devth commented on #48
I'm working on a custom image that installs and configures it. I'd be happy to PR if it's something you're interested in. I think enabling SSL by default makes sense, but not necessarily all the other SearchGuard features, like authn/z. The SG SSL plugin does only this.

I'm following the [SG SSL QuickStart](https://github.com/floragunncom/search-guard-ssl-docs/blob/master/quickstart.md).

One com

[2016-07-07 16:58] pires commented on #48
Agreed. But there will be problems with certificates, Java key/truststores, etc.

Well, if we're to use self-signed certificates, there is a way one can provide a single keystore with a single certificate. Something like:

#### CA key, certificate and keystore

[code]

#### Elasticsearch node key, certificate and keystore

First we need a file named `ssl.cnf` with the following contents:
[code]

T

[2016-07-07 17:41] devth commented on #48
Makes sense overall, though my ssl is a bit weak so I don't follow the specific commands 100%.

Not sure if you saw but the SG SSL repo provides [example scripts](https://github.com/floragunncom/search-guard-ssl/tree/master/example-pki-scripts) that generate the keystore and truststore, similar to what you outlined.

Were you thinking of baking the cert into the image at build time? Can't generate

[2016-07-07 21:37] pires commented on #48
No, I didn't check the repo.

`ONBUILD` is a nice solution but with Kubernetes one can leave the certificate generation to the user and just ask them to create a secret which exposes the keystore in the pod filesystem. Either way, a password will always be needed as well and we can leverage on secrets as well.

Right now, I'm heads down with something at work so I won't be able to pick it up. Perh

[2016-07-07 21:41] devth commented on #48
Good point, I hadn't considered K8S secrets. I'll be working on it over the next few days.

[2016-07-09 20:20] devth commented on #48
We ended up deciding to use Elastic's Shield product, so I didn't get very far with this. I pushed my changes here: https://github.com/devth/docker-elasticsearch-kubernetes/commit/a550a29197f2ffeaf6c83cfa0901448b63179924

I was adding the keystore and truststore directly. Next step would be to remove that and obtain them from K8S secrets like you suggested.

[2016-07-13 19:38] jeremypulcifer opened #49 "Error from server: the server could not find the requested resource ( pods/log es-master-uvoi6)"
[root@TSTMGTINF01 kubernetes-elasticsearch-cluster]# kubectl log es-master-uvoi6
W0713 15:37:49.279352    8342 cmd.go:219] log is DEPRECATED and will be removed in a future version. Use logs instead.
Error from server: the server could not find the requested resource ( pods/log es-master-uvoi6)

[2016-07-13 19:52] pires commented on #49
You should learn how to use `kubectl logs`.

[2016-07-13 19:52] #49 closed

[2016-07-14 09:01] snehacapoor commented on #2
I agree with you

[2016-07-17 10:13] #47 closed

[2016-07-20 16:13] devth commented on #45
@SaMnCo I'm now using K8S 1.3 PetSets for data nodes, with dynamically provisioned storage and 2 replicas. Works well so far.

[2016-07-20 17:03] pires commented on #45
@devth want to contribute that? Would be great to have a separate document describing that, and if possible reusing the container images/setup described here.

[2016-07-20 17:55] devth commented on #45
Sure. Should it replace the existing `es-data.yaml` deployment object configuration?

[2016-07-20 19:08] pires commented on #45
Not replace. Same stuff, different folder. One specific to your use-case that others may be interested in, e.g. `GKE PD`.

[2016-07-21 09:14] SaMnCo commented on #45
Cool, I was looking forward to petsets. Right now I am on 1.2.4, so don't
have them available, so I've been using PVs / PVC, backed by the cloud (AWS
in my case). Also proved stable, I barely lost 5 to 10% query perf doing a
chaos monkey on the ES cluster.

You can find the PV definitions in my fork
https://github.com/SaMnCo/k8s-elasticsearch-cluster

++
Sam

On Wed, Jul 20, 2016 at 9:08 PM, Paulo

[2016-07-29 03:12] linkmancheng opened #50 "Hostname kubernetes.default.svc not verified in es-master node"
Hi Pires,
I have created the secrets in the K8S environment and add the ca.crt in the kube-controller-manager start parameter. But exception show during SSL verification.

Caused by: javax.net.ssl.SSLPeerUnverifiedException: Hostname kubernetes.default.svc not verified:
    certificate: sha1/4xQd+1eSU89fBE1j3SolDM+61v8=
    DN: CN=host-172-216-0-17
    subjectAltNames: []
	at com.squareup.okhttp.i

[2016-07-29 04:23] linkmancheng commented on #50
I am running Kubernetes 1.2.2 on Openstack.

[2016-07-29 16:01] linkmancheng commented on #50
Solved, I got the answer from previous issue. [https://github.com/pires/kubernetes-elasticsearch-cluster/issues/27](url)
And it need peer certification for master and client. Thanks.

[2016-07-30 06:42] #50 closed

[2016-08-05 11:09] so0k opened #51 "What are minimum capabilities required for containers"
As suggested in the README, `--privileged` flag is required allowing the containerised ElasticSearch to use `mlockall` and lock the process address space into RAM, preventing any Elasticsearch memory from being swapped out.

is it possible to use more fine grained dropping/adding of capabilities to a minimum set to ensure the cluster stays secure?

This may be related to: https://github.com/fabric

[2016-08-05 12:57] pires commented on #51
Last time I checked, Docker still didn't support `ulimit` stuff besides what is inherited from the host.
Now, in the context of Kubernetes, [this is still open](https://github.com/kubernetes/kubernetes/issues/3595).

Not sure if there any new [Capabilities](http://kubernetes.io/docs/user-guide/containers/#capabilities) one can use to replace `privileged` mode.

[2016-08-10 18:10] asaf opened #52 "Pods status go into CrashLoopBackOff"
Hey,

I'm trying to setup an ES using this repo,

I made some tweaks though
1) I activated data/client in the `es-master` deployment
2) I activated client in the `es-data` deployment

I created 1 instance of master and 1 instance of data,

Both PODs became running and ES recognizes both nodes in the cluster,

Once I tried to shutdown one of the nodes the whole thing got broken,

This is what I see

[2016-08-10 18:17] pires commented on #52
Elasticsearch documentation disrecommend this practice.

Other than that, we need to see pod logs to understand why it's crashing.

[2016-08-10 19:57] asaf commented on #52
ye but a single server that perform all roles actually work just fine,
I was more wondering whether the _fabric8io_ unicast discovery should work when multiple roles are activated at once,

There are no errors.....

The only thing I see is this:

[code]

Any suggestions how to debug further?

Many thanks.

[2016-08-10 20:01] pires commented on #52
`kubectl logs <pod>`

[2016-08-10 20:23] asaf commented on #52
yea well, same thing, nothing that seems to be suspicious (same errors as in describe)

I also tried to take a look at /data/log/.. but nothing,

Anyway, I keep this issue opened for a while, meanwhile I'll try to investigate it a bit more,

Thanks.

[2016-08-24 11:33] tspacek commented on #52
@asaf Did you get to the bottom of this? I get the same. I suspect because I am using https://github.com/kubernetes/minikube

[2016-08-24 11:45] pires commented on #52
@tspacek this may be something else, namely the default value for `ES_HEAP_SIZE`. I will be validating that ASAP.

[2016-08-24 12:14] pires commented on #52
I can confirm this happens, pods are killed. Need to make sure why, though. My gut feeling is OOM.

[2016-08-24 12:18] tspacek commented on #52
Can confirm it's stable if I set `ES_HEAP_SIZE` such that the sum of all pods' is lower than Minikube's default 1gb.

[2016-08-24 12:39] pires commented on #52
@tspacek can confirm as well that's the case. I will be closing this by setting a very low value, `256MB` and adding a note on docs.

[2016-08-24 12:46] #52 closed

[2016-08-24 12:47] pires commented on #52
@asaf try again and let us know!

[2016-08-24 13:05] pires commented on #45
`PetSet` is available now.

[2016-08-24 13:18] pires commented on #45
Thinking out loud, and since ES doesn't care for as long as Lucene directory is available, one could:
1. Label certain nodes, e.g. `es-data`, and use that to assign ES data pods to said nodes
2. Make sure only one ES data pod runs in said node

Only potential problem here is that said nodes can also be running something else, e.g. other pods but for as long as it's not ES data pods, one should be

[2016-08-24 13:19] pires commented on #48
Leaving this open as a reference for users looking for same thing.

[2016-08-24 13:50] SaMnCo commented on #45
Yeah, that is sort of what I have done, allocating a single data pod per
node. But I mix other pods as well, and so far, so good...

On Wed, Aug 24, 2016 at 3:18 PM, Paulo Pires <notifications@github.com>
wrote:

--
SaM'n'Co
R'U Ready? I was BORN ready!

[2016-08-24 14:00] pires commented on #45
@SaMnCo do you use [`nodeSelector`](http://kubernetes.io/docs/user-guide/node-selection/) in your pod descriptor?

[2016-08-24 14:11] SaMnCo commented on #45
I do in my context yes. did not publish that as it does not really make
sense generally speaking, but could if it helps

On Wed, Aug 24, 2016 at 4:00 PM, Paulo Pires <notifications@github.com>
wrote:

--
SaM'n'Co
R'U Ready? I was BORN ready!

[2016-09-03 06:21] adiri opened #54 "container won't work on kubernetes 1.3.5 (docker 1.11.2 build b9f10c9)"
Heya all,

I'm trying to run ES master on my k8s cluster (hosted on AWS) and getting an error:
[code]

[2016-09-03 06:23] adiri commented on #54
Also, is there a way to use a separated EBS volume for each replica? I assume using the same volume is not recommended.

[2016-09-03 07:10] pires commented on #54
You don't seem to be running this as a pod. A pod would not have eth0.

[2016-09-03 16:19] adiri commented on #54
i just following the instructions :) es-master.yaml is a deployment (which create pods).

[2016-09-03 17:04] pires commented on #54
There's something with your Kubernetes cluster. Do you have any other apps running?

[2016-09-03 21:33] adiri commented on #54
apps like pods? sure.

[2016-09-03 21:55] adiri commented on #54
It found eth0 but did not understood that eth0 has a private IP ADDR.

I guess the solution is to force bind it to the IP in eth0 or to 0.0.0.0 (network.publish_host/network.bind_host)

[2016-09-03 22:10] adiri commented on #54
[code]

solved it. my cluster internal network (xylan) did not match _local_

[2016-09-03 22:15] #54 closed

[2016-09-13 07:22] clock157 opened #56 "discovery warning"
hi,pires.
 i am runing the cluster on aws,but has some error:
[code]

[2016-09-13 08:52] pires commented on #56
This is a problem with your Kubernetes cluster setup. See https://github.com/pires/kubernetes-elasticsearch-cluster/issues/46 and many other issues related to this.

[2016-09-13 08:52] #56 closed

[2016-09-13 10:01] clock157 commented on #56
thanks!

[2016-09-14 08:59] dingmingk opened #57 "HTTPS hostname wrong?"
#### es-master logs

[code]

[2016-09-14 09:03] pires commented on #57
That's a problem with your Kubernetes cluster, either the HTTPS TLS certificate or service CIDR not being valid.

[2016-09-14 09:03] #57 closed

[2016-10-02 23:58] shaneog commented on #45
@devth Any guidance on how to modify the config in this repo for PetSets?

[2016-10-09 18:56] shaneog opened #58 "ConfigMap example"
I've just set up this with a [ConfigMap](http://kubernetes.io/docs/user-guide/configmap/) so as to be able to add more settings than permitted in the default configuration.
Would you like a PR to add an example of this to the repo?

[2016-10-09 19:11] pires commented on #58
That would be cool.

[2016-10-19 10:16] #51 closed

[2016-10-25 06:55] andrewmclagan opened #59 "ES_HEAP_SIZE requirements on different nodes types"
It seems excessive that each client, master and data node requires a `ES_HEAP_SIZE` of 1GB or more of memory.

Is it only the client and master nodes that require so much memory? or just the clients?

[2016-10-25 15:24] pires commented on #59
It is wrong to assume that just because I have set that value as an example default. Feel free to adapt according to your needs.

[2016-10-25 15:24] #59 closed

[2016-10-25 23:11] andrewmclagan commented on #59
Sorry i think maybe my question has been misunderstood.

Im asking if the different node types all have the same memory requirements. e.g.
`data, client and master nodes`?

[2016-10-26 06:25] andrewmclagan commented on #59
Further though leads me to think only the data node really needs extensive memory as its the only node that performs `storing and indexing` of the documents?

Would that be correct?

[2016-10-26 13:28] pires commented on #59
It will depend on your use-case and the load you'll expect to handle to the client-nodes. See https://www.elastic.co/guide/en/elasticsearch/reference/current/modules-node.html#coordinating-node.

[2016-10-26 17:43] aadu opened #60 "Upgrade to ElasticSearch v5.0"

[2016-10-31 13:58] pires commented on #60
Unfortunately, can't do. Running Elasticsearch 5.0.0 on Docker [is proving to be really hard](https://github.com/docker-library/elasticsearch/issues/98). I just can't support having users changing their Kubernetes nodes configuration with `sysctl`, as it seems too cumbersome.

[2016-10-31 14:15] stevesloka commented on #45
Hey everyone, I'm going to take a stab at trying to get some persistence working in an AWS environment. Will send back details / PRs as I work through.

[2016-11-02 16:23] AtzeDeVries commented on #60
I think it would still be to allready have a 5.0.0 branch. As far as i know the `sysctl` issue is the only `blocking` issue.

If you install ES from `.deb` or `.rpm` on a machine it automaticly updates the `vm.max_map_count` setting. Check:

https://www.elastic.co/guide/en/elasticsearch/reference/5.0/vm-max-map-count.html

So there is probally no way around it.

[2016-11-03 03:32] so0k opened #61 "ES Client connection draining"
As we're using CoreOS auto updates, we get client timeouts when a ES client node is lost.

Does anyone have experience with configuring the ES Clients to do a graceful shutdown / connection draining on the k8s service definitions?

[2016-11-03 10:34] andrewhowdencom commented on #61
Do they exit gracefully if you drain the node with `$ kubectl drain {node}`? I remember creating a systemd service unit that drained nodes prior to coreos updates (for another issue).

[2016-11-03 12:42] pires commented on #61
Not sure how CoreOS signals this to applications but it should be something like `CoreOS --(signal)--> Kubernetes --(signal)--> Pod --(signal)--> Elasticsearch container`.
Read about `Pod Termination` [here](http://kubernetes.io/docs/user-guide/pods/#termination-of-pods) and [here](https://pracucci.com/graceful-shutdown-of-kubernetes-pods.html).

[2016-11-03 12:52] so0k commented on #61
Thanks both for the fast response. we'll be looking at https://github.com/coreos/bugs/issues/1274 to have CoreOS signal kubernetes. @andrewhowdencom - if you could share info on how you did the draining?

Was it a [ExecStop](https://www.freedesktop.org/software/systemd/man/systemd.service.html#ExecStop=) hook on the kubelet service to signal the API to drain the node first?

[2016-11-03 17:45] tsn77130 opened #62 "How to deal with nodes folder in ES data"
Hi,

When I delete / recreate a pod, a new data folder is created on the persistant storage (hostPath), and so the new pod does not find all its indexes. (ex below with 1 & 2 folders)

I have tried to remove node.lock file, but ES creates a new folder anyway.

How could I deal with this ?

[2016-11-03 18:14] pires commented on #62
See #45

[2016-11-03 18:14] pires commented on #62
Nevermind, different problem. I have no answer for you, i'm sorry.

[2016-11-04 08:20] tsn77130 commented on #62
you don't have this kind of problems ?

[2016-11-04 13:04] pires commented on #62
Can you share your `hostPath` declaration?

[2016-11-04 13:06] tsn77130 commented on #62
volumeMounts:
        - name: storage
          mountPath: /data
      volumes:
        - name: storage
          hostPath:
            path: /data/elasticsearch

[2016-11-04 13:28] pires commented on #62
It seems Elasticsearch 2.x changed how it stores data, https://www.elastic.co/blog/found-dive-into-elasticsearch-storage. I'm not sure how to fix this :(

[2016-11-04 13:29] pires commented on #45
Anyone here has insight into #62? It seems the storage layout changed in 2.x and it's harder now to _re-use_ previous stored data.

[2016-11-04 20:25] andrewhowdencom commented on #61
@so0k Exactly that

[2016-11-08 15:35] webwurst commented on #60
We are trying to set this via init-container: [giantswarm/kubernetes-elastic-stack/manifests/elasticsearch-deployment.yaml#L13](https://github.com/giantswarm/kubernetes-elastic-stack/blob/master/manifests/elasticsearch-deployment.yaml#L13)

Obviously not a nice thing to change settings on the host by a privileged container. But seems to work for now.

[2016-11-09 11:59] aeneaswiener commented on #60
@pires the init-container solution is acceptable for me. Would you consider putting 5.0.0 on a feature branch for now as suggested by @AtzeDeVries?

[2016-11-09 13:10] pires commented on #60
Will have to take some time to try it out on a few different setups, namely GKE.

[2016-11-09 13:13] aeneaswiener commented on #60
@pires I would be happy to test on GKE also if you provide a 5.0.0 image.

[2016-11-09 14:16] pires commented on #60
OK, I have the changes to be pushed. Will do in the next few hours and ping you.

[2016-11-09 16:35] puja108 commented on #60
@pires the `initContainer` was the only thing that came to my mind that would run no matter if the host got reset or not, I didn't want to have a solution that was bound to break in case of an "ephemeral host", but if you find another solution would be glad to hear from it and test.

[2016-11-09 19:52] pires commented on #60
I have released an image but I haven't been able to test it - I'm revamping `pires/kubernetes-vagrant-coreos-cluster` and it's broken as we speak.

[2016-11-14 14:43] aeneaswiener commented on #60
I am testing image: quay.io/pires/docker-elasticsearch-kubernetes:5.0.0

but all the ES pods error out with the following log message:

[code]

Has anyone been able to successfully run @pires's new version yet?

[2016-11-14 16:19] aeneaswiener commented on #60
I think the error may be related to the installation of the elasticsearch-cloud-kubernetes plugin via

[code]

which results in the following error in the output of the docker image build:

[code]

[2016-11-14 21:31] pires commented on #60
That's not an error but a warning about the fact the plug-in is requiring additional permissions.

I will have to give this a try. I will do it later this week.

[2016-11-17 06:25] HTChang commented on #60
@pires I saw the image 5.0.0 in  pires / docker-elasticsearch-kubernetes.
Does it ready for using in production now?

[2016-11-17 08:45] pires commented on #60
I was able to run it. I am updating this repo later today, if I'm able to reproduce my local setup on GKE.

[2016-11-17 11:16] HagaiBarel commented on #52
Just want to share my experience with this,
had the same issue, 4 hyper-v vm's with 1gb RAM each. Had random crashes all over the es cluster.  I allocated 2gb Ram to each machine, crashes stop and the es cluster runs stable.

[2016-11-17 18:12] pires commented on #60
@aeneaswiener it kinda works for me:
[code]

I say _kinda_ because it's killed from time to time. I used the init-container as per @puja108 instructions.

[2016-11-17 18:17] pires commented on #60
Actually, I just realized I'm having the same issue as you do but after a while, and a couple pod restarts, it just works!

[2016-11-17 18:20] thuandt commented on #60
If I have cluster running 2.4 in GKE, how can I upgrade it to 5.0?

[2016-11-21 16:45] pires commented on #60
To anyone trying this, i released `quay.io/pires/docker-elasticsearch-kubernetes:5.0.1`. The ```/elasticsearch/bin/elasticsearch: Text file busy``` problems is still present but is random. Help most needed!

[2016-11-22 03:30] thuandt commented on #60
@pires I try with new image in my GKE cluster, everything is working fine.
Only small change in environment:

[code]

and of course, init container to set `vm.max_map_count`

[2016-11-22 09:38] pires commented on #60
How many instances of each do you have? How much memory did you set? Also is your init container as someone suggested above?

[2016-11-22 09:51] puja108 commented on #60
Just FYI, as ES storage can get pretty big with time, we also added a Scheduled Job running the ES Curator once a day to clean up old indices: https://github.com/giantswarm/kubernetes-elastic-stack/blob/master/manifests/curator-scheduledjob.yaml

The config is kept in a Config Map: https://github.com/giantswarm/kubernetes-elastic-stack/blob/master/manifests/curator-configmap.yaml

[2016-11-22 11:14] pires commented on #60
@puja108 that's really cool and it would be awesome to have that as an _add-on_ to this repo, if you're willing to contribute it.

[2016-11-22 11:49] puja108 commented on #60
Will do a PR

[2016-11-22 11:55] pires commented on #58
@puja108 another one for you, maybe? 👍

[2016-11-22 12:00] puja108 commented on #58
Yeah, I was also thinking of making the ES config a Config Map.

@shaneog ping me if you do a PR

[2016-11-24 15:02] pires commented on #60
Has anyone tried the latest 5.0.1 image and found it to work or any issues?

[2016-11-24 15:50] #60 closed

[2016-11-25 12:57] vganapathy1 commented on #60
I'm able to deploy and the cluster comes up properly. But, when i scale the data node (any node for that matter), it failed with the below message

`Caused by: java.lang.IllegalStateException: failed to obtain node locks, tried [[/data/data/myesdb]] with lock id [0]; maybe these locations are not writable or multiple nodes were started without increasing [node.max_local_storage_nodes] (was [1])?
`

[2016-11-25 14:21] pires commented on #60
Sure. Can you open an issue on github.com/pires/docker-elasticsearch?

[2016-11-26 02:29] kmvenkatesh commented on #60
Hi,

We have successfully deployed elastic search 5.0 on kubernetes.

Thanks.

On Fri, 25 Nov 2016 at 7:51 PM, Paulo Pires <notifications@github.com>
wrote:

[2016-11-29 18:32] lazzarello opened #64 "Crash and Java stack trace about up-and-running site-local (private) addresses"
I ran the two service definitions in the README.md and the es-master deployment definition. The pod from the deployment crashes with the following stack trace output

[code]

I'll be digging into this further today to debug. Not familiar with elastic search internals.

[2016-11-29 20:05] pires commented on #64
You need to look into the [configuration environment variables](https://github.com/pires/docker-elasticsearch#environment-variables), namely `NETWORK_HOST`. Example values can be `_site_` or `_eth0_`.

[2016-11-29 20:05] #64 closed

[2016-11-29 21:22] lazzarello commented on #64
Cool, thanks. I figured there was a missing default somewhere.

[2016-11-29 21:35] pires commented on #64
The default, as the log states, is `_local`_.

[2016-12-08 21:04] kern commented on #64
`_eth0_` worked for me! :)

[2016-12-15 15:26] RossWilliams opened #65 "Required cluster config"
There are many issues raised where a user does not have their cluster setup properly. But the answers you give are not very clear for a beginner. Could you update the documentation to point out common issues and how to resolve them?

For example, some people need to set the `NETWORK_HOST=_eth0_` environment variable. Why is this needed?

The guide does not work with Azure's default Kubernetes depl

[2016-12-15 15:43] pires commented on #65
Each user will have their own issues, depending on how they set-up their Kubernetes environment or how they try to use these resources. I can't sanely support **all** possible set-ups out there. I do try my best and support them as some closed issues around here prove.

That said, I do test this both [locally](https://github.com/pires/kubernetes-vagrant-coreos-cluster) and GKE.

That's part of the

[2016-12-19 10:23] tuxtag opened #66 "Exception caught during discovery: access denied ("java.net.NetPermission" "requestPasswordAuthentication")"
[code]

Update:
It is a cluster setting problem. I forgot to update the secrets after updating some certs.

[2016-12-20 10:05] pires commented on #66
Closing then.

[2016-12-20 10:05] #66 closed

[2016-12-20 10:38] #65 closed

[2016-12-28 16:00] cdstelly opened #67 "Creation of es-master fails - ulimit error"
Looks like some kind of ulimit error prevents master from a successful startup.

SSHing into the node:
[code]

[code]

And the events log:

[code]

Any ideas? Running on CoreOS 7

[2016-12-29 10:45] pires commented on #67
Can you try and change https://github.com/pires/kubernetes-elasticsearch-cluster/blob/master/es-master.yaml#L15-L25 to increase max file descriptors? Also, keep in mind that limits apply per user and Elasticsearch is running as `elasticsearch`.

[2016-12-29 20:33] cdstelly commented on #67
Thanks for quick response

I've added:

[code]

No luck yet - same error.

How can I drop into shell on your container to inspect things before the elasticsearch service comes up (and throws the error, resulting in a pod restart)? Would like to make sure that sysctl works as I think it would.

[2016-12-29 22:04] pires commented on #67
Do you have alpha/beta APIs enabled?

You can't.

[2016-12-29 22:57] cdstelly commented on #67
Looks like they are partially enabled:

[code]

[2016-12-30 12:34] pires commented on #67
What version of Kubernetes are you running?

[2016-12-30 14:13] cdstelly commented on #67
Client & Server both at 1.3

[code]

[2016-12-30 14:17] pires commented on #67
That's the problem! Because of Elasticsearch 5.x bootstrap checks, I've added an init-container that's sets some stuff and for that to work one needs Kubernetes 1.4 or newer.

[2016-12-30 22:10] cdstelly commented on #67
Yikes, just like it says in the pre-requisites section. Thanks & sorry, thought we had the latest and greatest version!

[2016-12-30 22:10] #67 closed

[2017-01-01 11:29] pires commented on #67
No problem! Thanks for reporting, nonetheless.

[2017-01-03 05:38] ejsmith opened #68 "Error trying to discover hosts on Azure ACS"
I'm getting errors trying to get my cluster working. My log is full of these errors:

2017-01-03T05:00:32.330307201Z [2017-01-03T05:00:32,327][WARN ][i.f.e.d.k.KubernetesUnicastHostsProvider] [kpwXEy6] Exception caught during discovery: io.fabric8.kubernetes.client.KubernetesClientException: An error has occurred.

Any ideas what is going on? The instructions say that I need to have the latest alp

[2017-01-03 12:17] pires commented on #68
This is not enough info for me to try and figure out what's missing but I don't think this is related to any missing alpha/beta features. This may be something with the pod not being able to query the API server to look for other Elasticsearch pods, through the headless discovery service.

[2017-01-03 15:10] niemyjski commented on #68
Is there any way to enable more detailed trace messages on this?

[2017-01-03 15:33] pires commented on #68
@niemyjski @ejsmith can you please try a different image, `quay.io/pires/docker-elasticsearch-kubernetes:5.1.1_debug`?

[2017-01-04 09:49] topikachu opened #69 "Use the latest kubernetes feature to simplify the deployment"
The new kubernetes has such features that simplify the elasticsearch cluster deployment.
- headless service + round robin DNS
Elasticsearch is able to use a round robin DNS assisted discovery. It's possible to use a headless service DNS A record as the `discovery.zen.ping.unicast.hosts` parameter. This doesn't need 3rd party discovery plugin anymore.

- stateful set and persistent volume
Kubernete

[2017-01-04 10:23] pires commented on #69
Does this uses SRV query to get all Elasticsearch (master) nodes? Can you provide a link for docs?

I don't think this solves it as users will have their own storage solutions in place and this repo can't force them to choose one. But please, provide more details.

Also, don't refrain from opening PRs :)

[2017-01-05 03:32] topikachu commented on #69
Please see http://kubernetes.io/docs/admin/dns/. The headless service has an A record resolving to the set of IPs

The persistent volume is a kind of "middle layer abstraction", which makes the configuration more portable among storage solutions.
http://kubernetes.io/docs/user-guide/persistent-volumes/

There's a POC at https://gist.github.com/topikachu/1d4c526a84481529d24e5a39886817eb
It works at

[2017-01-07 09:03] pires commented on #69
I'm open to PRs.

[2017-01-09 23:53] advishnuprasad commented on #68
@ejsmith I am facing the same problem. Were you able to fix it ?

[2017-01-09 23:54] ejsmith commented on #68
Nope. I didn't spend a lot of time on it, but it just didn't seem like it was happening. Thinking there is something not 100% working on Azure.

[2017-01-09 23:58] advishnuprasad commented on #68
@pires

This is what I got when I used debug image.

[code]

[2017-01-09 23:58] andrewmclagan commented on #59
Is it possible to get some best-practice-advice on this issue, we are now running version 5 with:

* 3 master nodes
* 2 client nodes
* 5 data nodes

`ES_JAVA_OPTS` is set to `-Xms1g -Xmx1g`, across our cluster that sums to 10GB of RAM allocated. In my opinion this seems excessive and could be reduced, the document referenced above does not really detail situations where work is distributed among n

[2017-01-09 23:59] advishnuprasad commented on #68
@ejsmith  Yes. There is something wrong with headless discovery in Azure. I have been trying my heads around for past 2 days. But can't able to make it work .

[2017-01-10 00:06] andrewmclagan commented on #59
To further elaborate, ES docs state that:

Therefore would it be possible to reduce the heap size for master nodes as they do not require the same resources? Even better for general Kubernetes cluster health as the resources could be allocated to other pods.

Data nodes in the ES docs are described as:

Therefore these nodes require the most resources.

[2017-01-10 00:58] advishnuprasad commented on #68
@pires  @ejsmith  Here is the full log.

Azure:
[code]

Google cloud:
[code]

So it works fine in Google cloud. I don't know what is the problem with Azure. Any help would be really appreciated.

[2017-01-10 01:28] colemickens commented on #68
I'm subscribed to this issue. I don't know enough about this repo, ES, or what's going on to advise from the Azure side. AFAICT there's still no actionable logs here. The log message above indicates a problem with the logging infra, rather than a problem with ES or Azure.

[2017-01-10 01:35] advishnuprasad commented on #68
@colemickens
Please ignore that logging error.

I am talking about the following error which I am not getting in GCS. Because of this error, elastic search master not finding the data/client nodes. I thought, it is specific to Azure, all works well with GCS.
[code]

[2017-01-10 01:39] colemickens commented on #68
Hm, it'd be great if we could get more information out of that. Can y'all let me know how these clusters were deployed? There's a small potential that this is a known issue affecting ACS/ACS-Engine, but it should not be affecting clusters deployed with Kubernetes-Anywhere.

Kind of a bummer that the logger logs that there was an error but includes no inner details...

[2017-01-10 01:47] advishnuprasad commented on #68
Yes. Trying to get more from the debug log. But that lead into some other issue. I will wait for @pires reply.

What we are trying achieve is this : https://github.com/pires/kubernetes-elasticsearch-cluster
I am trying to create ES cluster to scale up and down in ACS.

[2017-01-10 01:55] colemickens commented on #68
In the meantime, how did you deploy the cluster?

[2017-01-10 01:57] advishnuprasad commented on #68
I followed this https://docs.microsoft.com/en-us/azure/container-service/container-service-kubernetes-walkthrough

[2017-01-10 02:02] colemickens commented on #68
So, we have a bug in ACS right now -- One of the certificates is generated such that it's missing a X509 Usage/ExtendedUsage attribute. This has caused problems with other non-Go clients, such as Python. We are rolling out a fix for it now. I can't guarantee it is the same root cause/fix, but I'm tentatively leaning towards it.

However, since this started out as an issue in the `kubernetes-anywhe

[2017-01-10 09:27] pires commented on #59
https://www.elastic.co/guide/en/elasticsearch/guide/current/hardware.html

[2017-01-10 09:30] pires commented on #59
Also, with a machine with x GB, set Elasticsearch heap size to half of it, giving Lucene (the indexing engine) and the OS enough RAM to operate.

See https://www.elastic.co/guide/en/elasticsearch/guide/current/heap-sizing.html.

[2017-01-10 09:30] pires commented on #59
Make sure you read the links I shared.

[2017-01-10 09:34] pires commented on #68
Also, I think I may have a change coming up that will no longer use the Kubernetes API but simply DNS. However, I'm glad this issue helped identify/validate a possible bug in ACS. Hat off to you!

[2017-01-10 09:38] colemickens commented on #68
Yeah, we spotted it with Deis in December and staged the fix up. The logging from PyOpenSSL wasn't much better... I just got lucky and remembered this popping up in Slack once. Finally, an excuse for how much time I've spent in the Kube slack. 😄

Also, if anyone is dying to use this asap, you can use the open source core of ACS, [ACS-Engine](https://github.com/Azure/acs-engine) which generates cer

[2017-01-10 09:45] pires commented on #68
@colemickens I am testing discovery based on DNS rather than the API but out of curiosity, and in case someone else asks around here, do you know when that fix will land in ACS?

[2017-01-10 09:47] colemickens commented on #68
It's going to start rolling tomorrow, along with 1.5.1.

[2017-01-10 09:47] colemickens commented on #68
It's going to start rolling tomorrow, along with 1.5.1 but it can take a week+ to do our full safe rollouts.

[2017-01-10 10:05] pires opened #70 "Add optional log rotation"
See original issue https://github.com/pires/docker-elasticsearch-kubernetes/issues/25.

[2017-01-10 10:37] pires commented on #69
After some testing, I'm moving to DNS discovery. I'm also upgrading to Alpine 3.5 which reduces the image from 159 to 119MB 😮 thanks for the tip!

[2017-01-10 10:37] pires commented on #58
@puja108 want to own this?

[2017-01-10 13:11] #68 closed

[2017-01-10 15:15] niemyjski commented on #69
Would be really cool to have stateful sets, has anyone made progress on this?

[2017-01-10 15:18] pires commented on #69
From a quick search, no. I should do it in preparation for writing an operator to handle all of this. However, I'm still not sure how that would work for storage, since it seems Elasticsearch no longer allows for reusing folders previously populated by Lucene/Elasticsearch.

[2017-01-10 15:41] ejsmith commented on #68
@colemickens do existing clusters automatically get updated when changes roll out? It seems like ACS just creates normal Azure resources for us. I didn't see anywhere in the docs where it talks about wether the cluster base OS / nodes will be managed for us or if we are responsible for their maintenance.

[2017-01-10 16:46] elipapa commented on #69
Some work was done here: https://github.com/jetstack/elasticsearch-pet

[2017-01-10 16:53] pires commented on #69
@elipapa there's no work there, just an issue.

[2017-01-10 17:04] ejsmith commented on #68
I updated my deployments to the new image and it works great!

[2017-01-11 08:28] puja108 commented on #58
@pires I can take it. Was looking through the yamls to see how to slice the Config Maps. There's two options:
- 1 for each deployment (master, data, client)
- 1 shared one (with cluster name etc in it) + 1 additional for the differences in envs for each deployment

First option is easier and maybe adds clarity. Second option removes redundancy and reduces the chance to have typos in e.g. cluster n

[2017-01-11 09:00] pires commented on #58
@puja108 the second one as it will make things easier for me when implementing the operator.

[2017-01-12 09:39] dvic opened #72 "bootstrap check failing"
I am getting on GKE Kubernetes 1.5.1 the following error:

`bound or publishing to a non-loopback or non-link-local address, enforcing bootstrap checks`

I solved it by adding the following to the deployments of all node types:
[code]

Has anyone else encountered this issue?

[2017-01-12 09:44] pires commented on #72
@dvic that's not an issue. The env var is exposed exactly so one can override the default value, if needed. In this case, GKE asks for it. 👍

[2017-01-12 09:44] #72 closed

[2017-01-12 10:01] pires opened #73 "Replace recipes with an operator"

[2017-01-12 11:18] pires commented on #72
Weird, by default it is `_site_` See https://github.com/pires/docker-elasticsearch/blob/master/Dockerfile#L33

[2017-01-25 06:39] hiscal2015 opened #75 "persistent volume for es-data pods"
for es-data pods, how can I use persistent volumes like glusterfs, if I use below config, then all es-data pods will write data to the same glusterfs volume, so do I have to create es-data pods separately?

        volumeMounts:
        - name: elasticsearch-storage
          mountPath: /data
      volumes:
      - name: elasticsearch-storage
        glusterfs:
          endpoints: glusterfs-clust

[2017-02-01 08:13] andrewmclagan commented on #7
I'd use kubernetes namespaces...

[2017-02-01 09:56] pires commented on #75
You'd need to use StatefulSets, I am to believe.

[2017-02-01 22:48] andrewmclagan opened #76 "Stability and health-checks via livenessProbe"
Not so much an issue (apologies). More as a community resource.

Seeking advice and best practices for `livenessProbe` health checks on our ES nodes.

We are thinking the following HTTP health-checks would be conservative and allow for high load situations. My concerns / questions are:

* Will a destroyed/restarted node have adverse effects on a cluster setup as per this repo?
* Will multiple dest

[2017-02-01 22:56] andrewmclagan commented on #69
From this and a few other issues on this repo, it appears to me there are allot of "questions and best paractices" that will differ/diverge depending on peoples requirements. It may be a good idea to have a wiki containing differing solutions and configurations for such things as:

* Cluster size
* Persistent storage
* Heapsize
* Node roles within clusters depending on cluster size
* Examples of s

[2017-02-02 08:39] pires commented on #76
Honestly, if you want best-practices, implement your own probes instead of using http/tcp. As an example, implement a script or app that queries ES API for a certain node status.

[2017-02-05 01:32] andrewmclagan commented on #76
That is such a great idea... Will do so and report back our approach on this issue.

[2017-02-05 01:32] #76 closed

[2017-02-07 20:50] ese commented on #69
https://github.com/kubernetes/charts/blob/master/incubator/elasticsearch/templates/elasticsearch-data-petset.yaml

[2017-02-14 11:27] ese commented on #73
https://github.com/upmc-enterprises/elasticsearch-operator

[2017-02-21 16:12] Fantomatic opened #78 "elastic discovery service cannot sync"
Hi,
Sorry to bother you again,
I got in my controller manager this when i create the discovery service :
 Sync default/elasticsearch-discovery failed with Endpoints "elasticsearch-discovery" is invalid: subsets[0].addresses[0].nodeName: Forbidden: Cannot change NodeName for 172.18.0.3 to "HostNodeName".
It also appear that the service is added in my kube-dns.
I'm using kubernetes 1.5, on 5 rhel7 s

[2017-02-22 15:25] andrewhowdencom opened #79 "helm chart"
This is a stub to track "create a helm chart" in case someone has already done the necessary work for this. Looking at deploying this for a fairly large log cluster. Requirements are:

* Need to be able to add data nodes as required.
* Need to be able to run on k8s 1.5+ (or whatever the most recent k8s is at the time of development).

I won't get to this for a while. But creating issue anyway!

[2017-03-01 14:28] pires commented on #78
Unfortunately, I am clueless about what you may be experiencing. Good luck!

[2017-03-01 14:28] #78 closed

[2017-03-01 14:29] pires commented on #75
See #80.

[2017-03-01 14:29] #75 closed

[2017-03-01 14:29] pires commented on #69
See #80.

[2017-03-01 14:29] #69 closed

[2017-03-01 14:29] pires commented on #62
See #80.

[2017-03-01 14:29] #62 closed

[2017-03-01 14:30] pires commented on #45
I really like this issue but I'm closing since #80 got merged and there is now a way in this repo to achieve this, other than the controller by @stevesloka.

[2017-03-01 14:30] #45 closed

[2017-03-06 13:15] Bregor commented on #46
ServiceAccount data is in place:

    elasticsearch@elasticsearch-master-1999154599-cfn3r:~$ ls -al /var/run/secrets/kubernetes.io/serviceaccount/{ca.crt,token}
    lrwxrwxrwx 1 root root 13 Mar  6 12:58 /var/run/secrets/kubernetes.io/serviceaccount/ca.crt -> ..data/ca.crt
    lrwxrwxrwx 1 root root 12 Mar  6 12:58 /var/run/secrets/kubernetes.io/serviceaccount/token -> ..data/token

API is accessi

[2017-03-06 13:20] pires commented on #46
This repo no longer uses said plug-in.

[2017-03-06 13:25] Bregor commented on #46
@pires you mean `discovery-kubernetes`?

[2017-03-06 20:00] pires commented on #46
I mean fabric8 Kubernetes discovery plug-in for Elasticsearch.

[2017-03-13 08:59] hiscal2015 opened #83 "StatefulSet Data node: PVC and PV matching queries"
For data nodes using StatefulSet. e.g.
I have 3 PVs, pv0, pv1 and pv2, each have a volume with 50GB, then create data nodes with the volumeClaimTemplates requesting 50GB.
The first time, 3 PVC has been created, named e.g. pvc0, pvc1 and pvc2,
pvc0 was bound to pv0,
pvc1 was bound to pv1,
pvc2 was bound to pv2,
Then, I delete all of the resources created before, including PV and PVC, and create the

[2017-03-13 13:32] pires commented on #83
@wfhartford is this expected behavior?

[2017-03-13 16:20] wfhartford commented on #83
I'm really not sure. I only have experience with the google container engine, where the PVs and PVCs are automatically created. The behaviour described does sound reasonable though. When the volume claims are created, they get associated with any available volume matching the criteria of the claim.

Typically, you should not be deleting all these resources and recreating them. Even if you need to

[2017-04-04 09:34] zetaab opened #84 "error reading zip file"
[code]
[code]

[code]

I am using default *yaml files which is in this repository. Something wrong with es-data container

[2017-04-05 13:48] zetaab commented on #84
newr version solved this

[2017-04-05 13:48] #84 closed

[2017-04-05 13:50] zetaab opened #85 "init-containers is executed only when pod is created"
[code]

Problem with current cluster setup is that init-containers is executed only when pod is created to node. However, if I restart kubernetes nodes behind this I will get error: `max virtual memory areas vm.max_map_count [65530] is too low, increase to at least [262144]` This means that 1) init-containers should be executed always when pod tries restart, is this possible? 2) we should add comm

[2017-04-05 17:14] pires commented on #85
https://kubernetes.io/docs/concepts/workloads/pods/init-containers/

[2017-04-06 02:41] xamox opened #87 "The Deployment "es-master" is invalid: spec.template.spec.initContainers[0].securityContext.privileged: Forbidden: disallowed by policy"
I get the following error when trying to run:
`kubectl create -f es-master.yaml`

`The Deployment "es-master" is invalid: spec.template.spec.initContainers[0].securityContext.privileged: Forbidden: disallowed by policy`

I'm trying to run this using the LXD local setup with kubernetes without any modifications:
https://kubernetes.io/docs/getting-started-guides/ubuntu/local/

The other services spi

[2017-04-06 09:56] pires commented on #87
You need to allow for privileged containers in your cluster by adding `--allow-privileged` to the `kubelet` args.

[2017-04-06 09:56] #87 closed

[2017-04-06 15:51] xamox commented on #87
Thanks @pires, and thanks for putting this together as the official k8s example is using an extremely dated version of elasticsearch (1.7).

[2017-04-06 17:41] pires commented on #87
Yes, I started it and it used to follow this repo but then maintaining docs in the Kubernetes repo became more complicated and I stopped doing it. I'm sorry if that's not the best for the community at large :-(

[2017-04-07 14:08] marcofranssen opened #88 "containers not booting."
Hi, I came accross your deployments for elasticsearch. I have been using following deployment on our own coreos kubernetes cluster running on vcloud.

[code]

Unfortunatily it gives following error. I have only been trying the master deployment so far.
[code]

[2017-04-07 14:10] marcofranssen commented on #88
Also not that I requested 1Gi memory and also put the limit on 1Gi. If I put this too a lower value the contianers crash with a OOM error.

Please let me know how to solve the issues. I would love to contribute my findings back to this project.

[2017-04-07 14:13] pires commented on #88
The problem is the way you do network.

Set [`NETWORK_HOST`] (https://github.com/pires/docker-elasticsearch#environment-variables) environment variable according to your setup.

[2017-04-07 14:13] #88 closed

[2017-04-07 14:14] pires commented on #88
Did you set `ES_JAVA_OPTS`?

[2017-04-07 14:25] marcofranssen commented on #88
Yes I did use ES_JAVA_OPTS.

So it set both to the same value, this causes a OOM error
if I set the resources for the container to 520 for example and the ES_JAVA_OPTS to 512 I still get this OOM error

[2017-04-07 14:26] marcofranssen commented on #88
To which value should I set NETWORK_HOST? is there a way to retrieve the value using `valueFrom: fieldRef:`

[2017-04-07 15:58] pires commented on #88
Maximum heap size should be no more than 50% of the total available RAM on the system. Remember that Lucene also consumes memory, etc.

[2017-04-10 14:48] sdurrheimer opened #89 "Seldom exceptions with Alpine and multiple container layers."
Hi there,

I'm unable to run any elasticsearch pod of this setup, I keep facing the following error:

[code]

I also tried with a simple `docker run` on my local machine, same problem:

[code]

[2017-04-11 10:20] pires commented on #89
`java.io.IOException: Mount point not found` means `$(pwd)/data` doesn't exist.

[2017-04-11 11:32] sdurrheimer commented on #89
Docker auto-create a folder mounted as a volume so the data directory exists, but even without the volume the docker image start with the same error. There is clearly a problem.

[2017-04-11 12:00] pires commented on #89
Are you running this on a Mac? If yes, what's your setup?

[2017-04-11 12:01] sdurrheimer commented on #89
Linux 16.04 with Docker 17.04.0-ce. Also tested with Docker 1.12.6.

[2017-04-11 12:04] pires commented on #89
Can you create `data` folder and run from there? Seems to work here.

[code]

[2017-04-11 12:05] #73 closed

[2017-04-11 12:12] sdurrheimer commented on #89
I tried everything, with or without a volume, with the directory created or not, also tried by setting elasticsearch:elasticsearch owernship on it.

I don't think the volume is the problem. Without a volume, elasticsearch crash with the same error.

[2017-04-11 12:14] sdurrheimer commented on #89
I might have a idea, could this be related to `overlay2` docker storage driver ?

[2017-04-11 14:39] xamox commented on #64
_eth0_ worked for me as well. Do you mind @pires if I submit a pull request to the README to mention this?

[2017-04-11 19:37] webeindustry commented on #89
I have this same issue. Nothing seems to be working out right now.

[2017-04-12 09:08] pires commented on #64
@xamox be my guest!

[2017-04-12 09:10] pires commented on #89
I just proved above that it works and this repo is *always* tested against a Kubernetes cluster, so it may be related to overlay2, yes.

[2017-04-12 14:31] webeindustry commented on #89
I solved this by compressing your docker images into a single one. Issue is 4+ base images with overlay1 or 2.

[2017-04-12 14:53] pires commented on #89
As you can see above, it works as is too, so the problem may be something else.

[2017-04-12 15:01] sdurrheimer commented on #89
As explained in this [issue](elastic/elasticsearch-docker#44), Elastic did face the same problem with their image, it's a alpine/musl bug.
It seems Elastic solves their problem because the upstream 5.3 docker image is working fine for me.

[2017-04-12 15:15] webeindustry commented on #89
@sdurrheimer Your link is broken, but this appears to be the exact issue [https://bugs.alpinelinux.org/issues/7093](url)

[2017-04-12 19:47] y2kbowen opened #91 "Can you provide more details on how to override configuration"
Can  you provide details on how to override configuration?  At the bottom of the readme it says the config can be changed by setting the environment variable  path.conf=/path/to/my/config/.

Am I setting this in the kubernetes yaml like this:
`spec:
   containers:
     env:
       - name: path.conf
          value: /path/to/my/config'
`

And how to I map the value from the container to some file o

[2017-04-14 19:47] zetaab opened #92 "Why wait between master - client/data?"
https://github.com/pires/kubernetes-elasticsearch-cluster/blame/master/README.md#L56-L60

Could you explain why you have written this part? I have now tried 5 hours to get this setup crashing without waiting, and still it works. I have also deployed client and data nodes (and wait that those are running) before master and after that created master nodes - still it works. The thing in elasticsearch

[2017-04-14 19:55] zetaab commented on #91
you cannot map single value, you need map whole configuration file. How you can mount some file from the VM inside container: https://kubernetes.io/docs/concepts/storage/volumes/#hostpath

[2017-04-15 09:37] pires commented on #92
Interesting. But I never said (wrote) that pods would crash if at least one master wasn't present, right? 🤔

I find it somewhat of a paradox that people want to run single-step deployments in production environments. It's like stating "I don't know nor care what it does, I just want it to run and work for my production scenarios.". But then it doesn't work and they get pissed off at you. Been ther

[2017-04-15 09:38] pires commented on #92
But thank you for raising this. I'll leave it open just in case someone wants to contribute something more.

[2017-04-15 09:38] pires commented on #91
Thank you @zetaab!

[2017-04-15 09:38] #91 closed

[2017-04-17 14:13] devth commented on #60
The `init container to set vm.max_map_count` hack no longer appears to work on GKE running K8S 1.6.x. Errors with:

[code]

Trying to figure out a work around.

[2017-04-17 14:38] devth commented on #60
False alarm. Destroying and recreating pods appears to have applied the `vm.max_map_count` setting correctly.

[2017-04-17 17:51] yukiman76 opened #93 "Shard allocation awareness"
Would love to have the ability for the ES cluster to know which compute node is currently being used so if the compute host crashes the index would still be able to recover

its a simple change to the es configuration to add an attribute that you would then route on
https://www.elastic.co/guide/en/elasticsearch/reference/current/allocation-awareness.html

[2017-04-18 01:17] pires commented on #93
At first I don't think I agree with this. Deploying ES in production should account for [pod anti-affinity](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#inter-pod-affinity-and-anti-affinity-beta-feature). Meaning only one data pod can run on a certain machine.

[2017-04-18 01:23] yukiman76 commented on #93
interesting but would that only allow for one ES data node for any given compute node, even if better performance would be available by allocation different shards to the same given compute node

[2017-04-18 01:46] yukiman76 commented on #93
Here is an example, we have 1 index in this cluster and each index
has 5 shards with one replica
logs-2017.04.16 S1,S2,S3,S4,S5  R1,R2,R3,R4,R5

if we have just 2 nodes in a given K8s cluster we could do the following to
increase search responses, and ingest speed (assuming the nodes have the resources to support two containes)

Node1 A
    logs-2017.04.16 S3
    logs-2017.04.16 S5

Node1 B
    lo

[2017-04-18 04:16] pires commented on #93
Hmmmm interesting. Care to contribute with a opt-in solution?

[2017-04-18 12:25] yukiman76 commented on #93
of course :), working on it now

[2017-04-25 18:07] clockworksoul commented on #79
Created. First draft is at https://github.com/clockworksoul/helm-elasticsearch

[2017-04-25 18:50] pires commented on #79
Feel free to add instructions to the `README.md` file on how to run your Helm chart and close this issue with your PR.

[2017-04-26 20:45] yukiman76 commented on #93
so i am starting this now, here what has to be done
elasticsearch.yml
something like:
if [ ! -z "${SHARD_ALLOCATION_AWARENESS_ATTR}" ]; then
    # this will map to a file like  /etc/hostname => /dockerhostname so reading that file will get the
    #  container hostname
    ES_SHARD_ATTR=`cat ${SHARD_ALLOCATION_AWARENESS_ATTR}`
    echo "node.attr.${SHARD_ALLOCATION_AWARENESS}=${ES_SHARD_ATTR}" >>

[2017-04-29 12:12] mindw commented on #85
Please consider re-opening due to - kubernetes/kubernetes#36485

[2017-05-01 13:27] clockworksoul commented on #79
Instructions added with PR https://github.com/pires/kubernetes-elasticsearch-cluster/pull/95

[2017-05-01 15:02] yukiman76 commented on #93
Please see PR https://github.com/pires/docker-elasticsearch/pull/36, this can be closed in this repo

[2017-05-02 09:46] AtzeDeVries commented on #89
Same issue here. I've recreated the docker-elasticsearch container with base 'openjdk:8-jre' and it runs fine.

[2017-05-02 12:58] pires commented on #79
Fixed by #95.

[2017-05-02 12:58] #79 closed

[2017-05-02 13:01] pires commented on #93
Merged and available as of `5.3.2.`. Care to provide some instructions to the `README.md` file on how to use this?

[2017-05-02 13:03] yukiman76 commented on #93
Sure, let me do a full reset to the dev env and document the process

[2017-05-05 14:02] BradErz opened #96 "Elasticsearch bug!! BindException: Address not available (after setting NETWORK_HOST)"
I was getting the error:

No up-and-running site-local (private) addresses found, got [name:lo (lo), name:eth0 (eth0)]

I saw in your troubleshooting section that this can be fixed by adding the environment variable NETWORK_HOST and setting it to eth0 (This is the correct interface name on the node of the kubernetes cluster.) However now i get another error stating that the Address is not availabl

[2017-05-05 14:38] pires commented on #96
It's an [Elasticsearch/Netty bug](https://discuss.elastic.co/t/es-5-2-0-in-kvm-netty-warning-failed-to-find-a-usable-hardware-address-from-the-network-interfaces/73717/2). Anyway, leaving it open for further reference.

[2017-05-05 14:39] pires commented on #96
Btw, can you try with 5.3.2?

[2017-05-05 14:52] BradErz commented on #96
Thanks for getting back to me, seems the same issue occurs with 5.3.2. Do you know when this was introduced? Any previous version I could use?

[2017-05-05 16:38] pires commented on #96
Can you check the issue I linked in the my first comment?

[2017-05-08 15:01] schonfeld commented on #85
Has anyone figured out a work around for this?

[2017-05-08 16:28] zetaab commented on #85
@schonfeld I have added that permanently to all kubernetes nodes. It solves that and now people can run their clusters.

[2017-05-08 16:30] schonfeld commented on #85
@zetaab yes yes, we have too -- but when a node fails and restarts, the pod will enter an infinite crash loop backoff state... At least until you manually delete that pod, and the RC spins up a new one... Right?

[2017-05-08 16:34] pires commented on #85
Have you tried adding a DaemonSet that does the same thing as this init-container?

[2017-05-08 17:20] schonfeld commented on #85
@pires that actually sounds like a great idea. Is that what other folks are doing?

[2017-05-08 17:36] schonfeld commented on #85
I just created/added this DS to our cluster. Seems to do the trick. Using google's startup-script container cos busybox'ing it would just go into a restart loop. I'll keep this thread posted if we encounter any issues:

[code]

[2017-05-08 17:37] zetaab commented on #85
@schonfeld well when node fails and it goes to infinite loop.. it sounds that you have not added it permanently.

If you restart one node and write `sysctl vm.max_map_count`, you should see correct value. If you do not see that, it is not added permanently. This must be done outside kubernetes, it does not work with init containers. You can add that value permanently by editing /etc/sysctl.conf

[2017-05-08 19:24] pires commented on #85
The DaemonSet should guarantee that this is set at the host level every time on reboot. If you do so, you won't need the initi containers no more.

[2017-05-09 21:28] ssouris opened #97 "Upgrade Elasticsearch to version 5.4.0."
With X-Pack and Kibana you can get a good visualization of your cluster state without any hussle and the new 5.4 brings creation of machine learning jobs through X-Pack (in beta mode) over your data.

It would be really really awesome.

[2017-05-10 07:00] pires commented on #97
The 5.4 image is available. You can do it yourself without waiting on me to update this repo ;)

[2017-05-10 07:52] pires opened #98 "Remove deprecated documentation"
e.g., the number of replicas.

[2017-05-10 07:52] pires opened #99 "Document how to install plug-ins"
Refs #97

[2017-05-10 09:14] #97 closed

[2017-05-10 09:30] #98 closed

[2017-05-10 09:30] #99 closed

[2017-05-10 10:35] ssouris commented on #97
@pires thanks :)

[2017-05-10 11:49] syz3r opened #100 "Running Kibana kubernetes-elasticsearch-cluster"
Hi Pires,

Thanks for creating this project I was breaking my head trying to deploy elasticsearch on kubernetes. I was able to launch with 3 master 2 client and 3 data (stateful) very easily. I have also enabled x-pack plugin using env variables from docker-elasticsearch project. However I'm not able to add kibana to my cluster. I have created kibana.yaml and kibana-svc.yaml but not able to access

[2017-05-10 11:51] pires commented on #97
See #99, I've added info on how to install the plug-ins ;)

[2017-05-10 11:52] pires commented on #100
Please, format the descriptors in the description properly.

[2017-05-10 11:56] syz3r commented on #100
@pires  :+1:

[2017-05-10 12:46] pires commented on #100
What can't you access? Elasticsearch from Kibana or the Kibana service?

[2017-05-10 12:59] syz3r commented on #100
Kibana service. I can see the kubectl logs and it is up and running correctly but still not able to access through external IP address

[2017-05-10 13:06] syz3r commented on #100
Hey I got kibana working. I was using "http" port name which was already in use by elastic-client. I changed it to "kibana-port".

[2017-05-10 13:06] #100 closed

[2017-05-10 13:14] ssouris commented on #97
Nice seems smart to configure the plugins this way 👍

[2017-05-10 22:54] reedfrancis opened #101 "Add optional instructions to deploy Kibana"
Your project is amazing for setting up elasticsearch on kubernetes, but it would be great to have the yaml files for setting up kibana also. Could this be added to the project?

[2017-05-11 07:07] pires commented on #101
I'm open to review PRs.

[2017-05-11 11:38] mindw commented on #85
@schonfeld the pod spec is missing `hostPID: true` - which is critical for re-running when a node restarts.
see: https://github.com/kubernetes/contrib/blob/87cfb9b24f4491c5e5b04dc17b5ae2f3c3500f26/startup-script/manage-startup-script.sh

[2017-05-11 18:53] xamox opened #102 "make x-pack work!!! fixed as of April 17th"
Was testing locally with:

[code]

Got the following error:
[code]

This is related to the move to non-alpine based Docker images:
https://discuss.elastic.co/t/elasticsearch-failing-to-start-due-to-x-pack/85125/3
https://www.elastic.co/blog/docker-base-centos7

I'm guessing that the base containers will have to be changed from alpine to support this. :(

[2017-05-11 20:40] pires commented on #102
For now, I won't change from Alpine Linux.

[2017-05-12 13:40] xamox commented on #102
Understandable as I know that's probably a large amount of work.

[2017-05-25 10:10] pires commented on #96
5.4.0 release seems to have fixed this following https://github.com/elastic/elasticsearch/pull/23540.

[2017-05-25 10:10] #96 closed

[2017-05-25 10:10] pires commented on #83
Should I close this?

[2017-05-25 10:11] pires commented on #93
Done! Thanks @yukiman76.

[2017-05-25 10:11] #93 closed

[2017-05-25 10:13] pires commented on #89
I wonder why this works on CoreOS VMs, arch amd64 (my scenario).

[2017-05-26 02:51] #83 closed

[2017-05-29 14:31] rprots commented on #84
Modify "mem_limit" setting to be not lower than elasticsearch's Xms/Xmx.

[2017-05-30 20:55] neverfox commented on #102
FWIW, there's an example of a 5.4 Alpine image here that contains x-pack [here](https://github.com/blacktop/docker-elasticsearch-alpine/tree/master/x-pack). Not sure if it provides any insight into how to get it to work.

[2017-05-31 08:45] pires commented on #102
Doesn't seem like it. I will try it now.

[2017-05-31 09:19] pires commented on #102
@neverfox same error. Did you even try that out?

[code]

[2017-05-31 13:13] neverfox commented on #102
@pires No. Just something I found. I figured chances were good that if someone was curating it, they had tried it themselves. Guess not.

[2017-05-31 13:19] neverfox commented on #102
@pires Have you tried the following? `rm -rf $ES_HOME/plugins/x-pack/platform/linux-x86_64` and set `xpack.ml.enabled: false` in `elasticsearch.yml`? Found [here](https://discuss.elastic.co/t/elasticsearch-failing-to-start-due-to-x-pack/85125/5).

[2017-05-31 13:31] pires commented on #102
No, I didn't. Those changes are not easily configurable and since x-pack plug-in is opt-in, I will not try to do it for the time being.

Thanks for keeping me posted on your findings.

[2017-06-14 06:07] timchenxiaoyu opened #103 "es-data not join to master"
NETWORK_HOST=_eth0_

publish_address {172.32.10.164:9300}, bound_addresses {172.32.10.164:9300}, {[fe80::6409:29ff:fe30:f675]:9300}
myesdb/l3-bVMBYQbqJSF_DvGubaA
waited for 30s and no initial state was set by the discovery
started

data node does join to master

[2017-06-14 06:08] timchenxiaoyu commented on #103
NETWORK_HOST=_eth0_

[2017-06-27 21:40] drobinson123 opened #105 "elasticsearch fails due to IPv6"
Intermittent failures occur when starting elasticsearch masters (and possible other components). The failures occur when the local network interface has both IPv4 and IPv6 addresses and elasticsearch attempts to bind to the IPv6 address first. If the IPv4 address is chosen first elasticsearch starts correctly.

Attached are two sets of logs, one showing a [successful startup](https://github.com/pi

[2017-06-27 23:19] pires commented on #105
Sounds reasonable. Care to open a PR?

[2017-06-29 06:27] huangfuyixiao opened #106 "wait for long time ,but find error in the logs ,what i not do ?"
when i do these :
kubectl create -f es-discovery-svc.yaml
kubectl create -f es-svc.yaml
kubectl create -f es-master.yaml
Wait until es-master deployment is provisioned
i use kubectl logs po,find this error ,what i not do ?

[2017-06-29T19:33:05,628][WARN ][o.e.d.z.ZenDiscovery ] [es-master-4168550062-gm6l4] not enough master nodes discovered during pinging (found [[Candidate{node={es-master-416855

[2017-06-29 08:10] pires commented on #106
It seems you don't have kube-dns running on your cluster. That's a Kubernetes configuration issue, not this project's.

[2017-06-29 08:10] #106 closed

[2017-06-29 10:04] pires commented on #103
This can't be seen as an issue as there's no meaningful information.

[2017-06-29 10:04] #103 closed

[2017-06-29 10:09] #105 closed

[2017-07-06 07:00] cpalbrecht opened #107 "Kubernetes cluster restart"
This es cluster deployment on Kubernetes uses statefulsets and persistent volumes. What happend if the Kubernetes cluster is broken and needs to be shutdown? Does the Elasticsearch deployment find their corresponding persistent volumes after a cluster restart?

[2017-07-06 11:55] gytisgreitai commented on #91
Sorry for bumping a closed issue, but does this `path.conf` work in Kubernetes via the `env` array?
There is an old issue on kubernetes which states that you cannot use env variables with dots in them: https://github.com/kubernetes/kubernetes/issues/2707#issuecomment-310650995

And it does seem so when I try with e.g. `path.repo`variable :

[code]

So what people are doing is passing those params

[2017-07-10 10:38] kleuf opened #108 "plugins installation"
Hi

Please forgive me for asking what might be a silly question, but here goes:

Where exactly do i define the following,

- name: "ES_PLUGINS_INSTALL"
  value: "x-pack"

Does it go in the deployment yaml, and on what level must it be in the file?

TIA

[2017-07-10 11:41] pires commented on #108
Yes, it goes on the deployment descriptor.

[2017-07-10 11:41] #108 closed

[2017-07-12 14:56] NassiHarel opened #109 "Is x-pack built-in with this version?"
if it is, how do I make it work?

like this? in which yml? what is the url?
- name: "ES_PLUGINS_INSTALL"
  value: "x-pack"

(too many questions...)
Thanks

[2017-07-12 15:29] pires commented on #109
If it is, then you don't need to install it as a plug-in, right?

I have no clue what this means. You should learn a little bit more about Elasticsearch and how to install plug-ins. Then you should learn about Kubernetes pods and how to set environment variables. Only then will you understand where to set the environment variable as [clearly described in the documentation](https://github.com/pires

[2017-07-12 15:29] #109 closed

[2017-07-12 15:40] NassiHarel commented on #109
Thank you for the reply.
I am working with ES for 2 years and with Kubernetes 1.5 years

the  environment variables should be at?
es-client.yaml  OR
es-data.yaml  OR
es-master.yaml

[2017-07-12 16:03] NassiHarel commented on #109
I will see inside the docker if the plugin exists.
The env should be in all ES nodes...

[2017-07-12 16:04] pires commented on #109
I've never used this plug-in in particular but I'd say all nodes. You should confirm the plug-in docs.

[2017-07-22 05:54] abh opened #110 "Add PodDisruptionBudget"
It seems like it'd be useful to add a PodDisruptionBudget to the manifest files, at least for the master nodes.

[2017-07-24 10:51] pires commented on #110
I'm interested in reviewing PRs.

[2017-07-25 19:12] cfontes commented on #101
Here is my suggestion

https://github.com/pires/kubernetes-elasticsearch-cluster/pull/111

[2017-07-29 09:32] pires commented on #101
Fixed! Thanks @cfontes.

[2017-07-29 09:32] #101 closed

[2017-07-29 09:34] pires commented on #89
This was fixed on Alpine 3.6.1 and the base image has been 3.6.2 for some time now, so I consider this issue fixed.

[2017-07-29 09:34] #89 closed

[2017-07-30 13:51] attwad commented on #60
For posterity, with kubernetes 1.6 it seems they [moved it out of beta](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/) and the syntax is now:

[code]

[2017-07-31 09:25] pires commented on #60
Done.

[2017-07-31 10:01] pires commented on #107
For as long as it's the same cluster, and data isn't corrupted, I believe so.

[2017-07-31 10:26] Globegitter commented on #96
Hmm, I am running on 5.5.1 and having the exact same issue.

[2017-07-31 10:41] pires commented on #96
The [Troubleshooting section](https://github.com/pires/kubernetes-elasticsearch-cluster#troubleshooting) has two entries that may help. If not, open a new issue and provide logs.

[2017-07-31 10:48] Globegitter commented on #96
Ahh yes, changing `NETWORK_HOST` from `_eth0_` to `_eth0:ipv4_` did the trick.

[2017-08-08 07:49] gensmusic opened #112 "es-curator.yaml failed to run on k8s 1.7.3"
`kubectl create -f es-curator.yaml`
And I got
[code]

[2017-08-08 09:22] pires commented on #112
Most probably, you don't have your Kubernetes cluster properly configured to support cron jobs. See https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/#prerequisites.

[2017-08-08 09:22] #112 closed

[2017-08-09 01:33] bw2 opened #113 "need to add PersistentVolume to make StatefulSet deployment work"
Thanks for this really helpful repo.

I just tried following StatefulSet deployment instructions (https://github.com/pires/kubernetes-elasticsearch-cluster/tree/master/stateful) but ended up with data pods that failed to initialize due to this error:

`SchedulerPredicates failed due to PersistentVolumeClaim is not bound ...`

To get things working, I needed to first create a GKE PersistentDisk:

`

[2017-08-09 03:36] bw2 opened #114 "elasticsearch is publicly accessible over the web by default?"
When deploying configs to GKE, the "client" service load balancer is automatically assigned an external IP address, making the entire cluster accessible over the public internet by default.

https://github.com/pires/kubernetes-elasticsearch-cluster/blob/master/es-svc.yaml#L9

[2017-08-09 07:48] pires commented on #114
That is correct. That is the default GKE behavior for services of type LoadBalancer. My suggestion is  either to set the `clusterIP` as `None` or annotate your service with ```
[...]
metadata:
    name: my-service
    annotations:
        cloud.google.com/load-balancer-type: "internal"
[...]
[code]

[2017-08-09 08:02] pires commented on #113
This is not needed in GKE since it already has a storage-class configured that will take care of provisioning disks automatically when you use PVC. But maybe, just maybe, I need to adapt the instructions to how GKE does it now - when compared to what it used to do before.

[2017-08-09 08:07] bw2 commented on #114
It be worth rewording this part of the README
[code]
- to me it reads like "everything is private by default, but can be made public through steps not included in this repo."

[2017-08-09 08:08] pires commented on #114
Feel free to open a PR to make it clearer to everyone, not just GKE users.

[2017-08-09 08:27] pires commented on #114
Wait, wait.. someone just made me realize the default service type is now `ClusterIP`!

[2017-08-09 08:29] #114 closed

[2017-08-09 12:07] #113 closed

[2017-08-09 12:08] pires commented on #113
The [`stateful/README.md`](stateful/README.md) has been updated and I've removed the StorageClass descriptor since GKE now bundles its own.

[2017-08-10 15:04] bw2 opened #116 "“No data nodes with HTTP-enabled available” error when writing from Spark to elasticsearch on Google Dataproc"
I'm not sure if this is a ES cluster config issue or a firewall/Google Dataproc issue so I've also posted it to

https://discuss.elastic.co/t/getting-a-no-data-nodes-with-http-enabled-available-error-when-writing-from-spark-to-elasticsearch-on-google-dataproc/96631

I'm getting

[code]

when trying to write from Spark to the elasticsearch cluster.

If I set elasticsearch config option `es.nodes.cl

[2017-08-10 19:42] pires commented on #116
It seems Spark uses the HTTP API for accessing directly the data nodes. This is not recommended but you can enable it by setting `true` the following environment variable, https://github.com/pires/kubernetes-elasticsearch-cluster/blob/master/es-data.yaml#L48-L49

[2017-08-10 19:42] #116 closed

[2017-08-11 13:39] bw2 commented on #116
that fixed it, thanks!

[2017-08-15 14:57] oavioz opened #117 "Kibana: { statusCode: 404, error: "Not Found" }"
Thanks for amazing deployment setting up elasticsearch on kubernetes!
I've just set up this repo exsample elasticsearch working properly. kibana not. getting error: { statusCode: 404, error: "Not Found" }

https://<API_SERVER_URL>/api/v1/proxy/namespaces/default/services/kibana:5601

Response:
404, error: "Not Found" }

This is my deployment status:

NAME                          CLUSTER-IP     EX

[2017-08-15 16:44] pires commented on #117
Try `https://<API_SERVER_URL>/api/v1/proxy/namespaces/default/services/kibana` instead.

[2017-08-15 16:47] #117 closed

[2017-08-16 14:38] oavioz commented on #117
Hi Pires,

Thanks for response.

Still not work. any other options?

Many thanks,
Oshik.

[image: Inline image 1]

On Tue, Aug 15, 2017 at 7:44 PM, Paulo Pires <notifications@github.com>
wrote:

[2017-08-16 14:41] oavioz opened #118 "{ statusCode: 404, error: "Not Found" } - Still not work"
Hi Pires,

Thanks for response.

Still not work. any other options?

Many thanks,
Oshik.

[2017-08-16 16:11] iahmad-khan opened #119 "could not access kibana"
I treid both the ways of acessing kibana , one documented in the readme file using the server_basepath directly , and other using Nodeport.

Can someone explain this:

One can also create an Ingress to expose the service publicly or simly use the service nodeport. In the case one proceeds to do so, one must change the environment variable SERVER_BASEPATH to the match their environment.

If we are

[2017-08-17 15:10] dev-e commented on #58
Hi! I am trying to set up with a ConfigMap and instantly getting the error:

`2017-08-17 15:04:56,039 main ERROR Could not register mbeans java.security.AccessControlException: access denied ("javax.management.MBeanTrustPermission" "register")
	at java.security.AccessControlContext.checkPermission(AccessControlContext.java:472)
	at java.lang.SecurityManager.checkPermission(SecurityManager.java:585

[2017-08-19 05:37] poor-bob opened #120 "Possibilities without kubernetes alpha features?"
I am using Kubernetes on GCE and the only way I can use alpha features is if I create an alpha cluster which is deleted after 30 days.

Obviously in the README it says alpha features are required. I set it up anyways but it seems unstable. Do you have any advice for running elasticsearch 5.5.* on kubernetes without kubernetes alpha features?

[2017-08-19 12:22] pires commented on #120
I think that warning is no longer valid.

[2017-08-19 15:18] clockworksoul commented on #120
I believe that the `CronJob` resources still require alpha features to be enabled.

[2017-08-19 21:23] poor-bob commented on #120
Thanks, good to know. It actually seems very stable now - I think I had an unstable set of nodes for some reason.

[2017-08-19 21:30] poor-bob commented on #119
I set up Elasticsearch and Kibana recently using the instructions, and with some Googling I was able to figure out kibana using LoadBalancer.
Here are my kibana-svc.yaml and kibana-deployment.yaml files respectively:
[code]

[code]

This exposes an external ip address for the kibana service, and I access kibana through http://{external-ip-address}:5601 listed next to the service.

Note: I commente

[2017-08-19 21:38] iahmad-khan commented on #119
hi

thanks , i ll try it. but i am using a test k8s deployment using vagrant
and vbox. therefore im trying to make it work with nodeport.

cheers,
ijaz

On 19 Aug 2017 22:30, "poor-bob" <notifications@github.com> wrote:

[2017-08-19 21:54] poor-bob commented on #119
It should work the same with nodeport. The real key is simply deleting/commenting-out the SERVER_BASEPATH environment.

[2017-08-22 08:11] pires commented on #120
I'm re-opening the issue because documentation should be clear about this.

[2017-08-23 05:37] mley opened #121 "Why must the es-data StatefulSet bei privileged: true?"
Is that an error or is it required, that the es-data container of the es-data-stateful set is privileged? All the other ES containers are not privileged, only their initContainers.

Thanks in advance for clarifying.

[2017-08-28 09:53] oavioz opened #122 "Deploying with Helm Permission denied (publickey)"
Hi,

git clone of "git@github.com:clockworksoul/helm-elasticsearch.git" is not allowed. Permission denied (publickey).

Can you update please?

Thanks.

[2017-08-28 10:34] #122 closed

[2017-08-28 10:34] pires commented on #121
It can probably be removed. Have you tried it?

[2017-08-28 19:14] poor-bob commented on #102
@pires I'm interested in implementing a solution for this if you'd be willing to review some PRs. Care to give any advice or concerns before I get started?

[2017-08-28 19:22] pires commented on #102
I'm not actively using Elasticsearch so my only advice is to test this your PRs as much as possible.

[2017-08-30 16:23] mley commented on #121
Unfortunately not; sorry. minikube runs very poorly on my machine and I cannot spare any resources on GCP right now.

[2017-09-01 09:32] DanyC97 commented on #85
nice finding @mindw !!

[2017-09-04 10:42] oavioz commented on #122
Thanks Pires! i saw you removed -  type: LoadBalancer on both, kiban and elastic service. ant reason?

Thanks

[2017-09-04 13:13] pires commented on #122
Yes. Kubernetes integration with cloud-providers, such as GKE, would create Internet-facing load-balancers by default.

[2017-09-04 17:53] oavioz commented on #122
Thanks Pires. for me , i'm using azure  - ACS. so it is not a default.
By the way, on kibana services it was an issues about "accessing to kibana -  #119
I saw the solution was to comment both, #        - name: SERVER_BASEPATH
#          value: /kibana:5601.

So now it is Ok?

Thanks!

[2017-09-06 12:59] sjdweb commented on #119
Hi guys, I had issues accessing via
[code]
(I am using `kubectl proxy` and then using localhost:8001)

Simply remove `spec.ports.name` for this to work.

Fixed `kubectl-svc.yaml` file:
[code]

[2017-09-06 16:17] pires commented on #119
This is fixed by #123.

[2017-09-06 16:17] #119 closed

[2017-09-07 02:48] calummoore opened #124 "Nodes failing consistently"
Hi

I followed the instructions, but my nodes keep failing while using `minikube`. Interestingly, I only start to see failures after I run the client/data deployments. Before this step, the masters remain active with a leader elected.

[code]

Before I run the client/data deployments (everything seems OK):
[code]

After I run the client/data deployments (everything starts to fail, one by one):
[co

[2017-09-07 07:25] pires commented on #124
This seems to be networking issues not related to the images themselves.

[2017-09-07 10:39] gsaslis commented on #76
@andrewmclagan wondering if you ever figured anything out around this?

Thanks in advance!

[2017-09-10 11:55] calummoore commented on #124
I ran this on a bigger GKE cluster and it worked fine. Looks like there was some sort of network/memory issue with Minikube.

I think the problem is that given 3 nodes, each one is periodically killed due to memory issues and then you start to see the connectivity issues (as the node no longer exists).

I assume that's why you use the following option, but I'm not sure that was enough for my Minik

[2017-09-10 12:06] calummoore commented on #124
I've just realised `ES_HEAP_SIZE` does the same as setting `ES_JAVA_OPTS`. [Documentation](https://www.elastic.co/guide/en/elasticsearch/guide/current/heap-sizing.html) appears to prefer setting `ES_HEAP_SIZE` (although does not explain why?).

Also there is reference to in the [documentation](https://www.elastic.co/guide/en/elasticsearch/reference/5.4/heap-size.html) to the fact that you must com

[2017-09-10 13:45] pires commented on #124
This has been documented already for some time. https://github.com/pires/kubernetes-elasticsearch-cluster#very-important-notes

[2017-09-10 13:45] #124 closed

[2017-09-10 21:14] elic9 commented on #118
Hi,

if You are referring to kibana, just remove these lines from kibana.yml

[code]

[2017-09-10 21:25] elic9 opened #125 "Can't access elasticsearch from Kibana"
Hi,

When I access Kibana and trying to execute any request to ES (e.g.
[code]

I get timeout, when checking the logs, I can see an error

I don't manage to understand, I can see that all my pods are up and running, however, when I manage to execute GET /_cluster/health?pretty
I could see that not all shards are available, but I don't manage to execute this API again.

Any ideas what can be wrong

[2017-09-10 21:38] pires commented on #118
Fixed by https://github.com/pires/kubernetes-elasticsearch-cluster/pull/123

[2017-09-10 21:38] #118 closed

[2017-09-11 05:10] hikhvar commented on #107
Thats a promise of Kubernetes Statefulsets. Each replica in a Statefulset gets a unique and durable hostname and Persistent Volume. As long as your etcd cluster is not corrupted, your Kubernetes Cluster should boot up and recreate the state of the pods before the Kubernetes shutdown. If your etcd cluster data get corrupted, there is no such guarantee.

[2017-09-11 09:26] elic9 commented on #125
I did some more checks, I can't access elastic search, I get failures.

Executing API http://<host>:9200/_cluster/health?pretty

I get the following:

For some reason there is a problem with the shards, how do you define your shards?

Thanks

[2017-09-11 15:51] webattitude opened #126 "repository-gcs authentication"
Hi, I've installed repository-gcs plugin, but I don't know how to set authentication mechanism.
TIA,
Thomas

[2017-09-12 19:50] syst0m opened #127 "Storage issue"
What exactly is the issue with storage?

[2017-09-12 21:25] bw2 opened #128 "can connect to elasticsearch through kubectl proxy, but not through kubectl port-forward elasticsearch-client 9200"
I'm probably misunderstanding something, but I've deployed a cluster as follows:

[code]
If I run `kubectl proxy` and go to
http://localhost:8001/api/v1/namespaces/default/services/elasticsearch:9200/proxy/
I get the standard json response.

but if I run `kubectl port-forward es-client-624501573-0zr2p 9200` (or 30001) and go to
http://localhost:9200/  or  http://localhost:30001/
I get:
![image](ht

[2017-09-13 07:00] muffin87 opened #129 "Setting Mem Limits creates Zombi Processes on Kube-Nodes"
Hi there,

I'm running this setup of ES in my Kubernetes cluster.
Currently I got the problem that a memory limit (for example in the Statefulset of the data node) will cause that at some point the oom-killer kills the pod and that causes a zombi process on the Kubernetes node.
I can't remove / kill that zombi and the only way to properly resolve that is restarting the hole machine.

## Setup:
* K

[2017-09-13 08:27] pires commented on #127
Now, that Statefulset is available, the only issue is whether people know or not how to use PV/PVC.

[2017-09-13 08:28] #127 closed

[2017-09-13 08:31] pires commented on #128
`kubectl port-forward es-client-624501573-0zr2p 9200:9200`.

[2017-09-13 08:31] #128 closed

[2017-09-14 16:08] syst0m opened #131 "deploying with helm doesn't work"
[code]
No webserver (443) on 104.154.198.126, only ssh (22) is open.
Any alternative approaches with helm?

[2017-09-15 01:30] like-inspur opened #132 "curator cron job error"
[root@master1 ~]# kubectl log curator-1505433660-7422p
W0915 09:24:50.974947 1859765 cmd.go:361] log is DEPRECATED and will be removed in a future version. Use logs instead.
container_linux.go:247: starting container process caused "exec: \"--config\": executable file not found in $PATH"
Events:
  FirstSeen	LastSeen	Count	From			SubObjectPath	Type		Reason		Message
  ---------	--------	-----	----

[2017-09-18 14:30] sagikazarmark commented on #131
Helm needs to talk to the API server and tiller, so unfortunately, no.

[2017-09-18 16:53] #131 closed

[2017-09-19 19:14] deimosfr commented on #110
Feel free to contribute to #133

[2017-09-21 12:24] zdevwu commented on #113
For anyone having the problem when deploying in aws, `gp2` or other aws volume types need to be specified, `standard` is not working:

`volume.beta.kubernetes.io/storage-class: gp2`

[2017-09-26 14:20] Globegitter commented on #120
Coming with k8s 1.8 the cronjob api will be moved to beta and be enabled by default, so should not be an issue for long anymore :)

[2017-09-26 14:46] pires commented on #120
Yay!

[2017-09-26 15:22] geronimoda commented on #113
Thanks, @zdevwu.  StorageClass `standard` was failing with the error:
[code]
It got stuck in that state, and that error was preventing any other pvc to be created. After removing it and change the volume type, it worked as expected.

[2017-09-27 20:39] mcandre opened #135 "es-client pods keep dying"
In minikube, when I `kubectl exec` into an es-client pod in order to debug things with bash and curl, the pod often errors and restarts.

`kubectl describe pod`... shows:

[code]

[2017-09-27 21:19] pires commented on #135
I need more details.

[2017-09-27 21:19] pires commented on #135
Did you read https://github.com/pires/kubernetes-elasticsearch-cluster#very-important-notes?

[2017-09-28 05:08] rkumr456 opened #136 "Kibana Deployment to k8s Cluster"
We have k8s cluster i want to deploy kibana to that & expose it using web UI Publically, can anyone guide me here how i should approach i'm very new to k8s thing

[2017-09-29 09:56] timbrandin commented on #128
@pires I can't get your script to work, it sets up the port-forward, but it spits out (when going to localhost:9200):

[code]

[2017-09-29 10:02] tsn77130 opened #137 "vm.max_map_count is too low"
Hi Paulo,

Despite of initcontainer config, I sometimes have floowing error message in my containers (here on data persistant node in statefulset)

Do you know from what it could come from ?
[code]

I run ES on top of 1.7.6 K8S cluster

[2017-09-29 10:20] pires commented on #137
Maybe the initcontainer _failed_? I honestly don't know.

[2017-09-29 23:44] camechis commented on #128
I am having the same issue.  I am wondering if its something with the ES network binding where in the case of port forwarding it thinks its coming from localhost and ES isn't bound to that ?

[2017-10-03 05:55] charlesverdad opened #138 "es-data should run after es-master provisioning"
There should be a way to deploy everything by just using the `kubectl apply -f . ` command without having to worry about the sequence in which the containers are deployed. That way when running in minikube locally, restarting the local machine should not cause issues.

This could be done by maybe adding a readiness probe to es-master and making es-data listen to that somehow, delaying its "entrypo

[2017-10-03 08:54] pires commented on #138
Open to review PRs.

[2017-10-03 11:21] PanJ commented on #128
@camechis @timbrandin  I managed to solve the issue by setting `NETWORK_HOST ` environment variable to `_lo_,_eth0_`.

Note that this setting may be varied due to your network interfaces (for me it's GKE).

[2017-10-03 13:13] camechis commented on #128
Awesome, thought it was something like this.

On Tue, Oct 3, 2017, 7:21 AM PanJ <notifications@github.com> wrote:

[2017-10-03 17:22] andriosr commented on #117
It looks like your service is exposing port `80` and not `5601`, try removing the port form your URL and also make sure the name of your service is `kibana`

[2017-10-05 12:26] sybnex opened #139 "path.repo for snapshots"
Would it be possible to add path.repo or
path:
  repo: e.g. /backup

to the elasticsearch.yml? I don't want to remount this directory.

Reason: for snapshots

[2017-10-10 22:41] magicalbanana commented on #125
Any help on this @pires?

[2017-10-10 22:53] pires commented on #125
@elic9 you only have 1 data-node.

@magicalbanana you're probably having the same issue as elic9. If you don't have enough data-nodes for your replication configuration, you'll have unassigned shards.

[2017-10-10 22:53] #125 closed

[2017-10-10 22:54] magicalbanana commented on #125
@pires how do I add more data-notes?

[2017-10-10 23:58] pires commented on #125
Increase the number of data-node replicas:
https://github.com/pires/kubernetes-elasticsearch-cluster/blob/master/es-data.yaml#L9
https://github.com/pires/kubernetes-elasticsearch-cluster/blob/master/stateful/es-data-stateful.yaml#L10

[2017-10-13 17:13] mr-rick opened #140 "RBAC is missing from kube yamls."
RBAC is now default and will be much more prominent in kube 1.8.  Can you provide the RBAC yaml for this elastic search cluster?

[2017-10-14 03:44] magicalbanana opened #141 "disable external IP"
How can you deploy this without being assigned an external IP?

[2017-10-14 03:56] #141 closed

[2017-10-15 08:21] shengbiaohong opened #142 "using Java API to access the elasticsearch running in the kubernetes"
Hello,everyone.I am now following this project [https://github.com/pires/kubernetes-elasticsearch-cluster](url) and successfully running the elasticsearch in kubernetes. And I also get the elasticsearch health status by the command "curl http://Endpoint:9200".It seems that the elasticsearch now running in the kubernetes and I can use the restful api to access the elasticsearch.Now I want to use Ja

[2017-10-24 15:42] erkolson commented on #128
I just ran into this today on AWS.  If you do not specify a value, the container gets this by default `NETWORK_HOST=_site_`.  Apparently the `port-forward` connects on the loopback interface, so this was required to get the pod to work communicate with other pods as well as permit port forwarding:
[code]

[2017-10-25 15:40] camechis commented on #137
Think I just ran into this myself on GKE.  Same error.

[2017-10-25 16:13] pires commented on #137
This seems a duplicate of https://github.com/pires/kubernetes-elasticsearch-cluster/issues/85.

[2017-10-25 16:13] #137 closed

[2017-10-26 22:34] artushin opened #145 "Elasticsearch startup fails with 'failed to obtain data locks'"
Pod startup fails with the following:

[code]

Same issue as https://github.com/elastic/elasticsearch-docker/issues/44

Workaround for those of us on the pires images:
Use https://github.com/goldmann/docker-squash to reduce the size of overlay in /proc/mounts then push your own image and use that.

😢

[2017-10-27 08:34] pires commented on #145
If quay.io supports multi-stage builds, I can try and work on reducing the layers needed.

[2017-10-27 11:07] deimosfr commented on #110
I think this could be closed as merged now

[2017-10-27 11:16] deimosfr opened #146 "Avoid cluster down on a configuration missmatch"
Hi,

As explained in this PR (https://github.com/pires/docker-elasticsearch/pull/44), it would be great to have a safe guard and ensure each node has properly booted before restarting/starting another one. In a rolling restart case, this could be dramatic if any nodes are rolled out and no one could boot.

To avoid this I've proposed a script inside the docker container but this has been refused.

[2017-10-27 14:08] artushin commented on #145
Squashing worked alright (`grep overlay /proc/mounts | wc -c` went down from 1870 to 358) and elasticsearch started. I don't actually know if the latest images have the same issue. I think it would depend on when you last built docker-jre.

[2017-10-28 11:16] pires commented on #110
Fixed in #133.

[2017-10-28 11:16] #110 closed

[2017-10-29 02:35] Morriz opened #147 "kibana container takes forever to start ("Optimizing...")"
The logs just show nothing beyond:

[code]

And I have been waiting for 25 minutes...

[2017-10-30 10:32] pires commented on #146
I don't understand the script. If TCP 9300 is not bound to, sleep 5 seconds and kill the java process? 🤔

[2017-10-30 10:36] pires commented on #145
I remember there was some issue with Alpine Linux containers and layers. Anyway, I can't find a way right now to squash this without overwriting automatically tagged images. Using your own is fine by me.

[2017-10-30 22:14] deimosfr commented on #146
The script waits 5 sec to ensure it doesn't goes too fast, check the java process is running. The miss understood you have is because I didn't yet give the full explanation. In fact the container doesn't handle SIGTERM and that's a problem. I've updated the run.sh script as well if you want to take a look:

[code]

If you need more information on the topic, I suggest this blog post (https://medium

[2017-11-02 23:56] alifa20 opened #149 "Invalid string; unexpected character: 253 hex: fd"
I am getting this error
[code]

My yaml file for master is
[code]
I am running Es version 1.7 and that's why I renamed this new one to elasticsearch5. I hope this naming is not the cause of the problem.
I initially didn't have _eth0_ for NETWORK_HOST , reviewing `Troubleshooting ` par from the readme doc, I added in but now getting `253 hex: fd` error.
Other network host values didnt work.

Any id

[2017-11-08 17:06] jevonearth commented on #102
@pires Would you like a PR to update the readme [Install plug-ins](https://github.com/pires/kubernetes-elasticsearch-cluster#install-plug-ins) & [Kibana](https://github.com/pires/kubernetes-elasticsearch-cluster#kibana) sections to clarify that X-Pack plugins do not work?

To save people who do need/want X-Pack the trouble of following your (totally excellent) guide?

[2017-11-08 18:58] pires commented on #102
@jevonearth be my guest - and thank you for your kind words, appreciated.

[2017-11-11 15:52] mortensorensen opened #151 "es-master getting killed"
I figure it's a memory issue so I have increased the memory of minikube to 4G and have set `ES_JAVA_OPTS` to `-Xms1024m -Xmx1024m`. What am I doing wrong here?

[code]

[2017-11-11 16:11] mortensorensen commented on #151
Ok, helps if I decrease the number of replicas.

[2017-11-11 17:31] #151 closed

[2017-11-13 10:10] komljen opened #152 "ES cluster with StatefulSet or ES operator"
Hi everyone,

I'm looking into prod ready ES deployment and I like the flexibility of using k8s StatefulSet's or Deployments. So, my question is, use this repo or ES operator on k8s - https://github.com/upmc-enterprises/elasticsearch-operator?

I liked the idea of operators, but it seems that apps are getting more "cloud native" and with k8s improving a lot with each release, I don't see the need

[2017-11-13 11:13] pires commented on #152
I'd start with this repo to understand a few basics around running Elasticsearch with Kubernetes, including a few issues - like why using StatefulSet. Then, I'd go with the operator. It's OSS too and one can extend it in order to accomodate one's  needs - but yeah, you need deeper Kubernetes expertise to adapt it, but not to adopt it ;)

[2017-11-13 14:46] otisg commented on #152
I'm in the same boat as @komljen .  It's fuzzy to me what ES operator offers beyond what  https://github.com/pires/kubernetes-elasticsearch-cluster offers, for example.  It looks like they both try to add ES to k8s keeping in mind ES-specifics, like the pod anti-affinity. Zone awareness would be another good one, but I think neither  https://github.com/pires/kubernetes-elasticsearch-cluster or  ht

[2017-11-13 16:02] pires commented on #152
I don't know the specifics of the operator but in theory, an operator can/should be more powerful than the StatefulSet and provide features specific to Elasticsearch operations, e.g. resharding.

[2017-11-16 17:15] sawatts commented on #149
Getting the same error from ElasticSearch when trying to start new SonarQube 6.7 on RHEL 6.6.

[2017-11-19 08:28] sagikazarmark commented on #147
See this discussion: https://github.com/elastic/kibana-docker/issues/27

[2017-11-19 20:30] clockworksoul commented on #79
@pires Sincere apologies if I've insulted you (which I think I may have). I have no other way to reach you, and I typed quickly and without thinking.

[2017-11-21 11:24] Globegitter commented on #139
Just running into the same issue - on top of that I want to add the aws config. I know some projects like nginx ingress allow for custom config snippets to be added. It might just be as simple as adding an env variable at the end of the elasticsearch.yml, such as `${CUSTOM_CONFIG_SNIPPET}` and defaulting that to empty.

[2017-11-21 13:55] pires commented on #139
Why not use a ConfigMap and mount it where Elasticsearch expects it to be?

[2017-11-21 15:16] Globegitter commented on #139
@pires I guess I did not think about that as I only want to modify one file and not the whole folder - but I guess that is actually possible now with k8s using `subPath`, so fair point.

[2017-11-21 15:30] sybnex commented on #139
@Globegitter I'm not sure `subPath `acts like this => [https://kubernetes.io/docs/concepts/storage/volumes/#using-subpath]

@pires The problem is, that k8 overmounts the whole directory. You are not able to mount a single file into a existing directory like in Docker atm.

For my specific case, I've wrote a new Dockerfile which includes your Image.

[2017-12-06 07:05] mtaylor769 commented on #102
Hi, @pires, I've been doing some research this week too on the bare-metal setup we discussed. This seems like a good thread to include this info

I was able to get your 6.0.0 images running beautifully (WeaveScope) with 'kubeadm init --kubernetes-version=1.8.1', then deploying your es-*.yaml files, but was not able to get the Xpack running and Kibana would get to the dashboard and complain about X

[2017-12-07 18:02] lordkada commented on #87
I'm experiencing the same problem here :-)
I am quite sure that kubelets are running with --allow-privileged flag (and this is true for all my nodes) as you can see:

but again I get thie error:

Any idea or suggestion is really appreciated :-)

[2017-12-08 10:08] snaimuddin commented on #117
Hi i deployed elasticsearch and kibana in marathon (cloud)
Elasticsearch is running,when i see in kibana unable to connect to elasticsearch..
i used environment variable as ELASTICSEARCH_URL="mydomain.elasticsearch"

why it is ?
any

[2017-12-08 14:53] xamox commented on #87
I moved back to testing with minikube as LXD had a lot of other issues for me like consuming 100% cpu when I didn't even have anything deployed in kube, so I don't have any resolution on my side.  They may have fixed this though as I haven't tried using LXD in months.

[2017-12-08 18:03] lordkada commented on #87
@xamox yep, I am using it with minikube and it works. I am really curious to test all my software using lxd... I am not experiencing the 100% cpu issue as you did (but this is very funny, because this is the reason why I am moving from minikube 😂😂😂)

[2017-12-10 18:10] bw2 commented on #128
Thank you!
Adding
[code]
to es-client.yaml fixed this for me too.

[2017-12-11 14:41] lordkada commented on #87
**FYI** I have rebuilt my k8s cluster asking my `conjure-up` to allow privileged containers and that error went away... (maybe the last time I missed to set the --allow-privileged for the api-server daemon?!? dunno)

Unfortunately I'm hitting another (unrelated) problem:
`Error: failed to start container "init-sysctl": Error response from daemon: linux runtime spec devices: lstat /dev/.lxc/proc/17

[2017-12-12 05:13] vijayanj opened #156 "Multi client issue"
Hi,
Running Elasticsearch 6.0 on k8s with following configuration, As following your documentation.

Master node - 3 no's
Client node - 2 no's
Data node - 5 no's

Uploaded 1 million docs into the cluster. while querying, every time it shows different docs count, while passing through different clients. This applies to both kibana and browser (http://localhost:9200/<INDEX>/_search).

If we use sing

[2017-12-12 10:37] trevex commented on #121
I am using the StatefulSet without privileged successfully in production. It's not necessary only for initcontainer.

[2017-12-12 17:34] zs787 opened #157 "Data nodes StatefulSet storageclass ?"
Hi,

I'm fairly new to using with Kubernetes, but I have managed to get a full ELK stack running on a single node, using you solution steps and my docker files.

However, now I would like to keep my data persistent and use StatefulSet data pods,  as if I understand this correctly if we lose the es-data pods I will lose my indices. So my question to you is what type of PV you used in your solution

[2017-12-14 21:44] z1nkum opened #158 "Unknown object type for es-curator, k8s 1.8"
Hi,

I was surprised when trying create curator CronJob:

```# kubectl create -f es-curator.yaml```

error: error validating "es-curator.yaml": error validating data: unknown object type schema.GroupVersionKind{Group:"batch", Version:"v2alpha1", Kind:"CronJob"}; if you choose to ignore these errors, turn validation off with --validate=false

It's because of https://github.com/kubernetes/kubernetes

[2017-12-15 01:21] pires commented on #158
Good catch.

[2017-12-15 01:25] #158 closed

[2017-12-15 23:13] tutoring opened #159 "GCS Plugin: Repository type [gcs] does not exist"
The instructions for installing the GCS plugin specify that after adding:
- name: "ES_PLUGINS_INSTALL"
   value: "repository-gcs"

...to the relevant deployments, then GCS bucket storage should be accessible, but it does not seem to be. The installation instructions on the ES website call for restarting the nodes and I'm not sure if that is part of the cause or not.

[2017-12-15 23:14] tutoring commented on #126
Thomas, I am trying to use this plugin and I believe, that authentication is best achieved by allowing your cluster to access the default credentials on GCS. That is to say, if you are using Container/Compute Engine (which I'll assume), then you can simply allow access to your buckets by giving permission when you create the cluster (or instances). See here: https://www.elastic.co/guide/en/elastic

[2017-12-16 15:25] pires commented on #159
We're installing the plug-ins before Elasticsearch starts so there's no need for restarting Elasticsearch.

Please, follow the [official instructions](https://www.elastic.co/guide/en/elasticsearch/plugins/current/repository-gcs-usage.html) for the respective plug-in. If it doesn't work, you should reach to the Elasticsearch project.

[2017-12-16 15:25] #159 closed

[2017-12-16 15:25] pires commented on #126
We're installing the plug-ins before Elasticsearch starts so there's no need for restarting Elasticsearch.

Please, follow the [official instructions](https://www.elastic.co/guide/en/elasticsearch/plugins/current/repository-gcs-usage.html) for the respective plug-in. If it doesn't work, you should reach to the Elasticsearch project.

[2017-12-16 15:25] #126 closed

[2017-12-18 09:03] tutoring commented on #159
I figured a pre-start installation was the case. Given the error message saying that the repository type does not exist, I wasn't totally sure though.

I'll try to reproduce this a few times to ensure it isn't just user error on my part. What you have provided with this repo is fantastic. Thank you for that.

[2017-12-18 11:14] pires commented on #159
Thank you for taking the time so say "thank you" :)

[2017-12-19 10:42] mohankrishnavanga commented on #109
Hi,
I am not able to install x-pack by providing the environment variable as it needs a confirmation from user (by default it is taking no) with kubernetes. Can you help with this?

I modified the dockerfile like this:

FROM quay.io/pires/docker-elasticsearch:6.1.0

MAINTAINER krish

USER root

# Override config, otherwise plug-in install will fail
ADD config /elasticsearch/config

# Set environme

[2017-12-19 11:03] pires commented on #109
You should be fine if you use (your own) image that has this one as base image.

[2017-12-19 11:07] mohankrishnavanga commented on #109
I did try it out in my local environment but I'm having the issue I
mentioned.

On 19-Dec-2017 4:33 PM, "Paulo Pires" <notifications@github.com> wrote:

[2017-12-21 15:16] BezVezeE opened #161 "Help needed - Liveness probe failed: dial tcp 10.8.0.6:9300: getsockopt: connection refused"
Hi there,

i have issue trying to setup my kubernetes es cluster, when i deploy the pods and services everything going well but when i try to curl the client pod it give me connection error

im running this on a google container engine (kubernetes engine) on kubernetes version 1.8.4
i also tried this to run on version 1.7.4 also have the same problem,

i tried with differnt container version both

[2017-12-21 15:24] BezVezeE commented on #161
i think i got it,
it works fine

but still this errors bothers me,

[code]
any reason why this happens and what is the problem,

[2017-12-21 19:17] patrickstjohn commented on #102
In case it helps anyone the workaround for x-pack on alpine is to add the following line to run.sh (prior to elasticsearch execution): rm -rf $BASE/plugins/x-pack/platform/linux-x86_64 and adding "xpack.ml.enabled: false" to elasticsearch.yml.

[2017-12-22 00:56] dytmh opened #162 "kibana [search_phase_execution_exception] all shards failed"
version is 5.5.0

[2017-12-22 02:36] xamox commented on #102
@patrickstjohn I did not, I tried the .yml attempt but didn't realize you had to remove the directory.  I will give it a try, thanks.

[2017-12-29 12:51] Unb0rn opened #163 "[Help request] Kibana official images"
Hello! I am trying to make this all work with original docker images from elastic docker repo.
It was not so hard to make elastic up and running, because pires left all the dockerfiles and configs for his customised images here oh GitHub.
But kibana deployment uses some kind of customised images with dockerfiles nowhere to be found.
So, the question is-how does the Kibana know where to connect?
Th

[2017-12-29 17:57] cesargomezvela commented on #102
Hi there everyone,

I share with all of you a version of this project based on the work of @pires with the advantage that support x-pack
https://github.com/cesargomezvela/elasticsearch

Thank you @pires for your excellent job.

[2018-01-04 22:44] Centro1993 commented on #139
Same Issue here. And since the Readme.MD states:

I would greatly prefer have the line
    `path.repo=/data/repo`
added to the docker image config.

[2018-01-04 22:50] pires commented on #139
I'll look into it tomorrow.

[2018-01-05 00:21] Centro1993 commented on #139
Great! I was about to commit the changes myself, but noticed that @ruediste actually already commited the neccessary changes in pires/docker-elasticsearch-kubernetes#48, but never bothered to changing his Email and therefore the pull request has not been accepted.

[2018-01-05 09:22] pires commented on #139
That PR is not in a good shape. Also, it's in the wrong repo.

[2018-01-05 09:31] pires commented on #139
Feel free to open a PR to adopt the changes in https://github.com/pires/docker-elasticsearch/blob/34045fe6f66528a10ecf137569f1f30bd1f70789/README.md#backup. I will release a new image as soon as there's a new Elasticsearch release.

[2018-01-05 09:31] #139 closed

[2018-01-06 00:49] selangley commented on #163
I modified my kibana.yaml to use:

  image: docker.elastic.co/kibana/kibana-oss:6.1.1

where kibana-oss is the version of Kibana that Elastic has made available without X-Pack included.

Then you need to remove the name value pairs that disable the X-Pack features from your kibana.yml because those plugins are no longer there.

[2018-01-06 08:44] pires commented on #163
Feel free to open a PR that updates the Kibana part.

[2018-01-08 11:04] goodqinjin opened #164 "how can i use 9300 to connect elasticsearch cluster?"
i want to use transportclient api to connect es, but it doesnot work. help me :(

[2018-01-08 18:41] Dexyon commented on #164
What did you try? Do you want to try it in the same namespace or another namespace or from the internet?

[2018-01-09 01:27] goodqinjin commented on #102
xpack works with elasticsearch version 5.3.2 ?

[2018-01-09 01:30] goodqinjin commented on #164
i want to connect es cluster by JAVA TransportClient api (TCP)  # @Dexyon

[2018-01-12 13:22] zoidbergwill commented on #149
We were getting this error because `DISCOVERY_SERVICE` used in the [config](https://github.com/pires/docker-elasticsearch-kubernetes/blob/master/config/elasticsearch.yml#L29) defaults to [`elasticsearch-discovery`](https://github.com/pires/docker-elasticsearch-kubernetes/blob/master/Dockerfile#L9)

[2018-01-12 13:23] zoidbergwill commented on #149
I added the DISCOVERY_SERVICE env var pointing to `elasticsearch5-discovery` for us, and it worked.

[2018-01-15 10:59] sawatts commented on #149
I don't see a 'DISCOVERY_SERVICE' entry in the elastic search properties with SonarQube 6.7.1, or anything similar.  Setting this in the environment doesn't change the error for me.

[2018-01-15 11:51] zoidbergwill commented on #149
@sawatts Are you using the docker images / kubernetes resources in this repo?

[2018-01-15 16:36] sawatts commented on #149
@zoidbergwill No docker or kubernetes involved -- so probably not of interest to this thread.  I was just looking for other occurances of the same issue to find a common cause.

[2018-01-15 17:54] pires commented on #149
Sorry but I'm closing this issue as it's source to confusion for people coming here looking for issues with Elasticsearch on Kubernetes as documented in this repo.

[2018-01-15 17:54] #149 closed

[2018-01-17 07:18] gilblau commented on #161
Can you please explain how you resolved the issue, I am facing the same issue!

[2018-01-17 09:30] pires commented on #161
This is a networking issue! The `kubelet` cannot access `10.8.0.6` ports `9200` or `9300`. Maybe something to do with firewall rules or some `NetworkPolicy` you may have in place. Or maybe you changed the ports Elasticsearch binds to.

[2018-01-20 13:01] mfamador commented on #161
Hi, same issue here. Es-clients keep restarting with "Liveness probe failed: dial tcp 10.1.0.21:9300: getsockopt: connection refused". Tried with Minikube and Kubernetes in Docker for Mac Edge. Any help would be appreciated. Thank you

[2018-01-20 13:07] pires commented on #161
Maybe something related to how those solutions do networking and maybe need some changes to the network device it will bind on. See the [troubleshooting](https://github.com/pires/kubernetes-elasticsearch-cluster#troubleshooting) section for pointers.

[2018-01-20 13:15] mfamador commented on #161
That was it, sorry I missed it!
Just changed NETWORK_HOST to "_eth0:ipv4_" and it's working perfectly!
Thanks a lot!

[2018-01-20 19:15] pires commented on #161
Great @mfamador! 🎉

[2018-01-20 19:15] #161 closed

[2018-01-24 10:34] cmosgh opened #167 "ERROR Could not register mbeans java.security.AccessControlException: access denied ("javax.management.MBeanTrustPermission" "register")"
Hi there, Paulo.

First of all thank you for the great work on this.
It has been working on our cluster perfectly till I wanted to switch to a newer version of ES.

If a do a `kubectl describe po pod-name` I get
`Created container with docker id 96a9b40bcb72; Security:[seccomp=unconfined]`

And in the pod logs I got these error messages

``419 main ERROR Could not register mbeans java.security.Acc

[2018-01-30 05:58] DTherHtun opened #168 "TLS handshake timeout"
Error from server: Get https://172.17.8.103:10250/containerLogs/default/es-client-5dfd67955f-8lstl/es-client: net/http: TLS handshake timeout

[2018-01-30 09:25] pires commented on #168
This is a problem with your Kubernetes cluster setup since you can't access the secure kubelet API endpoint.

[2018-01-30 09:25] #168 closed

[2018-02-06 01:13] bw2 commented on #107
I've looked at exporting elasticsearch snapshots to google buckets, but these aren't 100% reliable (I/O errors cause incomplete backup/restore ~10% of the time)
Is there some way to use GCE disk snapshots to make the kubernetes cluster + persistent disks fully restorable?

[2018-02-13 19:14] kskewes commented on #163
@Unb0rn
Pires has recently accepted my pull request to update to Kibana OSS image.
Kibana connects to Elastic Search through standard (ES standard) ports.

Try pull the latest and see how you get on.

Just note that for the kibana service exposes kibana on port 80. In my own setup I kept everything on standard ES ports (ie: kibana 5601) and ran a nginx proxy in front.

[2018-02-13 20:43] #163 closed

[2018-02-20 14:09] gilblau commented on #147
@sagikazarmark - I am confused (after going over the discussion) is the issue resolved?

I am planning to run ELK on K8s and in production environment, and I need to know it will "work with no major issues".

Thanks!

[2018-02-20 15:15] sagikazarmark commented on #147
You can find a solution for this particular problem in the linked ticket.

As for running ELK on k8s: not an easy thing to do, because of the statefulness not necessarily recommended, but for things like logging it can be ok.

It takes some time to find the optimal setup, it doesn't work like next, next, finish.

[2018-02-20 16:04] pires commented on #147
Thank you @sagikazarmark!

[2018-02-20 16:04] #147 closed

[2018-02-26 18:42] tombarnsley opened #171 "Struggling to get data into the cluster"
Hi there,

I am really struggling to get data into the ES cluster from filebeats.

Here are the services in the namespace I have deployed them.

elasticsearch             ClusterIP   10.254.136.171   <none>        9200/TCP
elasticsearch-data        ClusterIP   None             <none>        9300/TCP                                                                           elasticsearch-discovery

[2018-03-01 08:35] rdrgporto opened #174 "High Availability on Pod Disruptions"
Hi!

First of all, thanks for creating this repository (it saves me a lot of time). Secondly, I am working/testing on your project and I have a doubt:

Environment:

 - Ubuntu 16.04
 - Kubernetes 1.9.3 with 1 master and 3 nodes (by Kubeadm)
 - Weave 1.6

[code]

I am working on **Elasticsearch StatefulSet Data Pod** (provisioned by **GlusterFS**). I would like to have **High Availability**, so tha

[2018-03-01 13:28] IanMoroney commented on #156
I am seeing this issue occur also. When I curl the ip address on port 9200, i see different "name" values when using multiple clients (intended behaviour i'm assuming). but it results in different behaviour, almost in a split brain fashion.

[2018-03-01 19:54] pires commented on #156
IIRC, that's because the service points to client nodes which instead points to data nodes.

[2018-03-02 12:29] tombarnsley commented on #171
We managed to sort this issue out. It appeared it was SElinux and Docker not logging to the correct place.

[2018-03-02 12:29] #171 closed

[2018-03-13 12:18] viglia opened #175 "es-master fails: Liveness probe failed: dial tcp 172.17.0.4:9300: getsockopt: connection refused"
Hi,

I'm having a problem launching the es-master deployment.

It keeps restarting and if I check the pod description the failure appears to be:
Liveness probe failed: dial tcp 172.17.0.4:9300: getsockopt: connection refused

After checking all the issues, open and closed (plus the documentation), I've made the following tests

1) giving minikube more memory

2) add
- name: "NETWORK_HOST"
  value:

[2018-03-18 19:46] michaelharrisonroth commented on #102
Has anyone been able to get this cluster to work properly with x-pack? I really need the graph capabilities and would love to be able to accomplish that with this cluster.

@patrickstjohn I attempted to rebuild both the `docker-elasticsearch` and `docker-elasticsearch-kubernetes` images with the recommended changes:

`rm -rf $BASE/plugins/x-pack/platform/linux-x86_64` in run.sh

and

`xpack.ml.ena

[2018-03-19 14:53] pkrishnath commented on #164
@goodqinjin , You can not give kubernete-service-name:9300 which is not a node for java client.
I have ended up with https://github.com/VanRoy/spring-data-jest

[2018-03-19 16:15] mbert commented on #175
I had the same problem. It seems like on a rather slow cluster the liveness probe strikes too fast.
Adding an `initialDelaySeconds' setting under the liveness probe (edit `es-master.yaml`) helped me:

        livenessProbe:
          tcpSocket:
            port: transport
          initialDelaySeconds: 30

[2018-03-20 10:33] bw2 commented on #107
looks like there's gradual progress toward snaphot/restore for PVCs:
https://github.com/kubernetes/website/issues/1691

[2018-03-21 14:13] viglia commented on #175
@mbert thank you!

[2018-03-21 14:13] #175 closed

[2018-03-25 12:49] Unb9rn opened #176 "[Feature/Support request] Nginx Ingress for Kibana"
Hello!
Maybe it is a good idea to add nginx ingress to kibana?
Something like this:
[code]
But I am having a hard time trying to add this while simultaneously retain ability to access Kibana through API Server proxy.
What basepath should I specify?

[2018-03-25 17:46] pires commented on #176
That would require depending on nginx ingress controller so I don't think it would be wise to enforce that.

[2018-03-26 08:39] Unb9rn commented on #176
Of course! I thought to offer it as an option.

[2018-03-26 09:11] pires commented on #176
Sure, open the PR.

[2018-04-01 16:06] tarr11 commented on #175
Interesting, I had the same problem (trying this on GKE with a 3 n1-standard-2 cluster)

Using a 30 second initialDelay seconds caused 2 of 3 masters to work, and the third would constantly restart and inevitably enter a CrashLoopRestart cycle.   (I also set `NETWORK_HOST`)

Setting it to 60 second delay seemed to solve the problem.  I think there's some sort of master discovery algorithm that nee

[2018-04-02 16:56] simar15 commented on #102
Working with 6.2.3, this worked for me:

`RUN NODE_NAME=local /elasticsearch/bin/elasticsearch-plugin install x-pack --batch && \
    rm -rf /elasticsearch/plugins/x-pack/x-pack-ml `

[2018-04-05 15:12] nkhine opened #178 "Warning FailedScheduling <invalid> (x7 over 26s) default-scheduler 0/5 nodes are available: 5 Insufficient cpu"
Hello,
I have setup a k8s cluster with the following:

[code]

so I have one master, 2 nodes and 2 data nodes

when I try to add the es-client, this fails, with the following error:

[code]

what am i missing?

[2018-04-05 18:04] pires commented on #178
`0/5 nodes are available: 5 Insufficient cpu.` you don't have enough CPU available in your Kubernetes nodes.

[2018-04-06 09:00] syafiqFiqq commented on #161
hi @mfamador , i got the exact problem. but mine is when deploying es-master. do you know how can i proceed?
@pires do you have an idea?
Does this related to NETWORK_HOST issue also?

my environment is as below:
OS : ubuntu
Kubernetes : version 1.7.12

[code]

[code]

[code]

Thanks a lot!

[2018-04-06 13:29] nkhine commented on #178
@pires what ec2 node size would you recommend for a test setup?

[2018-04-14 20:26] bevinhex commented on #117
This issue still persist, why is this closed?

[2018-04-17 08:59] pires commented on #178
Honestly, I don't have an answer for that :(

[2018-04-17 08:59] pires commented on #176
Closing due to inactivity. Will re-open if a PR is open to address this.

[2018-04-17 08:59] #176 closed

[2018-04-17 09:10] pires commented on #174
Hello!

The behavior is right, yes. Pod eviction algorithm takes in mind a bunch of rules. One of them is something like this: _if pod disruption is violated **DO NOT** evict pod_. Therefore, you should increase your pod count (in this case, the `es-data` pod count) to accomodate pod disruption when evicting.

[2018-04-17 11:02] #174 closed

[2018-04-17 16:31] pires commented on #102
Please, use `FROM quay.io/pires/docker-elasticsearch-kubernetes:6.2.3_1`.

[2018-04-18 11:42] ameukam commented on #178
Hi @nkhine, I think you should start with the t2.large for the nodes and scale it out depending of your consumption.

[2018-04-23 05:16] zhangxinZKCD opened #180 "Liveness probe failed: dial tcp 10.244.1.207:9300: getsockopt: connection refused"
hello，My k8s is running on arm64 machine
I recompile the docker image with yours
https://github.com/pires/docker-elasticsearch-kubernetes
upload my private repository, I named it  kubernetes-elasticsearch
I encountered the following troubles in the process of running, suggesting:Liveness probe failed: dial tcp 10.244.1.207:9300: getsockopt: connection refused

![log2](https://user-images.githubuse

[2018-04-23 05:57] #180 closed

[2018-04-26 14:30] karthik-ir opened #181 "Error from server (NotFound): deployments.extensions "es-data" not found"
on running ` kubectl rollout status -f es-data.yaml -n <NAMESPACE_NAME>` I get the error mentioned in the title. What could be the issue here?

[2018-04-26 15:42] pires commented on #181
You have not created the deployment `es-data`.

[2018-05-02 04:23] jraj002 opened #182 "Couldn't find any Elasticsearch data"
Hi,

I installed the EFK stack using the instructions in the README. All the pods and services come up correctly without errors. However, I do not see any data in the Kibana dashboard. Please see attached screenshot for reference. Any advise would be greatly appreciated. Many Thanks!

(I am using Google Kubernetes Engine v 1.9.3-gke.0)

![screen shot 2018-05-01 at 11 21 54 pm](https://user-images.

[2018-05-02 12:35] GitShaffi commented on #176
@Unb9rn Were you able to proxy kibana behind ingress?? Any work arounds?

[2018-05-07 02:27] daiyoung commented on #161
@syafiqFiqq @BezVezeE I got the same error, set a environment param has no effect, did you resolved?

[2018-05-11 10:12] #181 closed

[2018-05-14 07:32] GitShaffi commented on #176
@Unb9rn
However I am not able to get this to work.
[code]

But I am able to get it working, if I proxy it at root **'/'** .

[2018-05-14 07:48] Unb9rn commented on #176
@GitShaffi I am using it with basic auth with htpasswd stored in secret, but you may be able to adapt it for you. Also, I am serving it as a subdomain in /
[code]

[2018-05-16 09:58] bilalyasar opened #183 "Exception in thread "main" java.net.UnknownHostException: artifacts.elastic.co alpine 3.6"
we are using

[code]

basically I am trying to install repository-s3 plugin. but time to time I am getting unknown host exception
[code]

the alpine 3.6 had some dns issues, might it be related with alpine?

[2018-05-16 12:27] pires commented on #183
I don't know but don't think so.

[2018-05-16 13:08] bilalyasar commented on #183
@pires  is not possible to release new version with latest alpine?

[2018-05-17 11:01] nickallevato commented on #87
any luck on this ? I have similar issue on a lab setup.

[2018-05-18 03:41] yangwenmai commented on #178
You can exec `cat /proc/cpuinfo` to check cpu.
May be your machine's Insufficient cpu, Because :

[2018-05-18 14:48] mbert opened #185 "How to set up hot/warm architecture"
This is not really an issue, just want to point you my [blog post on setting up centralised logging with EFK and an ES "hot/warm" architecture](http://md-privat.blogspot.de/2018/05/centralised-logging-with-efk-and.html) in Kubernetes. As far as Elasticsearch and Kibana is concerned it is based on your work in this very repo. Thank you very much for making this available!

[2018-05-19 08:05] psalaberria002 commented on #76
@gsaslis @andrewmclagan Have you guys implemented anything to solve this issue? I am currently facing it, and it would be great if it's already solved.

Thanks.

[2018-05-19 08:11] deimosfr commented on #146
It's a shame that there is no much interest into this in this repository. If you want to help on building a better thing, I'll be happy. Here is the helm chart https://github.com/MySocialApp/kubernetes-helm-chart-elasticsearch

[2018-05-22 07:39] pires commented on #146
This repo is not meant to be a production solution, but rather serve as inspiration for what you want to build.

Now, I don't think the proposed solution is complete. But I am no longer using Elasticsearch so I can't come up with a better one myself. If I were, I'd implement this logic as part of an operator and not a containerized script.

[2018-05-22 07:41] pires commented on #185
@mbert thanks a lot for the shout out. The "more or less ready-to-run setup of Elasticsearch and Kibana by Paulo Pires " link is broken, though.

[2018-05-22 07:55] deimosfr commented on #146
The script based solution is a very good transition to operators. Unfortunately, the maturity level of most of operators is not good enough today (due to the complexity of distributed systems) and this solution is a very good one while waiting operators to be fully prod ready.

[2018-05-22 07:57] mbert commented on #185
As I wrote it: "more or less" :)
It helped me a great deal!

[2018-05-22 09:09] pires commented on #185
I meant the link is broken as it points to `www.blogger.com` and not to this repo.

[2018-05-22 09:16] mbert commented on #185
Oops, thank you, I had not noticed that. It is corrected now.

[2018-05-22 17:08] ykyuen commented on #145
:heart_eyes:  Thanks for providing the workaround, using `docker-squash` could solve the problem. Another approach is updating the base image from alpine to new version (Alpine >= 3.6.2) or other linux distro as suggested by @AtzeDeVries in this [issue](https://github.com/pires/kubernetes-elasticsearch-cluster/issues/89).

just a warm reminder, if u want to keep using the same image version tag wh

[2018-05-28 03:10] Zhan-Jie commented on #147
why is  boot process of kibana so slow on docker ?? It takes about half an hour to optimize what stupid things..

[2018-05-30 10:57] erikbsap opened #186 "Sources would help so much"
Hi,

I'm very thankful that you provided this repository. It's a really good starting point. It would be good to know from where some of the info comes, though. For instance the distinction of separate elastic pod types, you probably took that from some documentation page, or learned that in a meet-up or something. Could you reference from where that comes?

Another example: We are trying to reduc

[2018-05-31 06:44] kleuf opened #187 "Clarity on X-Pack (#102)"
Firstly, thank you for all the work you do, big fan.

Secondly sorry for opening this can of worms again.

So, I saw you posted about using elasticsearch:6.2.3_1 that includes X-Pack, which brings me to my question, which, if available, images should i use to build a full stack that uses X-Pack, this being Elasticsearch, Logstash and Kibana.

I used the image for Elasticsearch, "quay.io/pires/dock

[2018-06-01 07:46] chakangost commented on #84
ddddddd

[2018-06-03 09:59] pires commented on #186
https://www.elastic.co/guide/en/elasticsearch/reference/6.2/modules-node.html

[2018-06-03 10:02] pires commented on #186
If you look at the pod descriptors, you'll understand why it needs to be run in privileged mode. Maybe you can find enough `CAP_` to deliver the same functionality and open a PR? 😃

[2018-06-03 10:04] pires commented on #187
`pires/docker-logstash` is very old. TBH I don't use this setup anymore, so I can't be of help as we speak.

[2018-06-04 01:58] dearjadu commented on #145
I was having the same problem with the `java.io.IOException: Mount Point not found` using the quay.io/pires/docker-elasticsearch-kubernetes:2.4.0 image (as of June 1, 2018) on Azure Kubernetes Service with https://github.com/pires/kubernetes-elasticsearch-cluster (for both es-master.yml and es-data.yml). Surprisingly, the exact same Kube specs worked on the first attempt on GKE and AWS (with KOPS)

[2018-06-05 08:07] depauna opened #188 "Preventing data los on data nodes during rolling update"
Shouldn't there be an http livenessprobe on the data nodes that prevents terminating older data nodes when they are still replicating new data to newly running data nodes during a rolling update?

So meaning newly created data nodes are not seen as fully running untill the cluster status is green.

I'm looking at something like this:

`        livenessProbe:
          httpGet:
            path: /_

[2018-06-05 13:03] doker-kg opened #189 "[out_es] Elasticsearch error"
Hello! Deployed EFK and Curator in Kubernetes 1.10. Externally, everything is fine, but in the fluent-bit logs - [2018/06/05 12:21:00] [warn] [out_es] Elasticsearch error
{"took": 38, "errors": true, "items": [{"index": {"_ index": "logstash-2018.06.05", "_ type": "flb_type", "_ id": "Sjvkz2MBucitTSdgq3rn "," status ": 400," error ": {" type ":" mapper_parsing_exception "," reason ":" failed to pa

[2018-06-05 13:36] doker-kg commented on #189
curl -X DELETE 'http://10.101.217.123:9200/_all'

[2018-06-07 18:55] rocketraman opened #190 "Use recommended node layout"
This does not appear to use the [recommended](https://www.elastic.co/guide/en/elasticsearch/reference/6.2/modules-node.html) node layout as stated in the README.

The recommended layout separates ingestion nodes from client/data nodes, and it does not separate client and data nodes -- the nodes receiving query traffic are the same nodes that have data.

[2018-06-07 19:46] rocketraman opened #191 "Add anti-affinity to avoid scheduling multiple ES pods onto the same nodes"
Specs, especially master and data deployments and stateful sets, should probably include a pod anti-affinity configuration, to avoid scheduling multiple pods onto the same nodes. For example:

[code]

[2018-06-08 04:42] pires commented on #188
A failed `livenessProbe` kills a pod. Are you thinking of `readinessProbe`?

[2018-06-08 04:44] pires commented on #189
The error is clear.

Whatever is producing to Elasticsearch is doing it wrongly. You should look for issues in that fluentbit component.

[2018-06-08 04:44] #189 closed

[2018-06-08 04:45] pires commented on #190
Well, you are most probably right. This repo comes from a different time. I'm happy to review PRs.

[2018-06-08 04:45] pires commented on #191
As documented in https://github.com/pires/kubernetes-elasticsearch-cluster#pod-anti-affinity?

[2018-06-08 04:46] pires commented on #191
You do have a point in adding key `component`. Please, do open a PR. Happy to review :)

[2018-06-08 07:52] JulienCarnec commented on #76
+1, I am interested too in knowing about the solution you applied

[2018-06-08 10:06] Li-Yanzhi opened #192 "Why master nodes are not defined as StatefulSet ?"
I saw data node can be defined as StatefulSet, so when one of data node(POD) fails, then another Pod with same name will be created and to take over the same data volume, so the data and status is consistency.

But master & client node are defined as Deployment(ReplicaSets), if one of nodes fails, then another Pod will be created, however, the new Pod's name is not same as the failed one, and the

[2018-06-08 10:07] pires commented on #192
Master and client nodes do not store data and that's why they don't need data consistency.

[2018-06-08 10:07] #192 closed

[2018-06-13 10:47] duchnguyen opened #195 "Cannot launch the ES cluster because of insufficient CPU"
Hi,

I checked-out the code to my local and ran below commands in order

<pre>
kubectl create -f es-discovery-svc.yaml
kubectl create -f es-svc.yaml
kubectl create -f es-master.yaml
kubectl create -f es-client.yaml
kubectl create -f es-data.yaml
</pre>

-> couldn't launch the ES cluster because of insufficient CPU as below

Note that my Kubernetes Cluster has 3 nodes (machine type for each node :

[2018-06-13 11:32] pires commented on #195
Since no CPU requests are made, I don't know what's going on.

[2018-06-13 12:29] syst0m opened #196 "How to configure snapshots with curator"
Hi,

trying to come up with the best solution to snapshot an indices subset.
Using ElasticSearch (6.2.2) from this repo on Google Kubernetes Engine.

Failed to find any useful examples on how to do this with ES on GKE.
Found PV snapshotting (k8s >v1.8), but I don't need all indices, so no need to snapshot entire volume.

Would use curator snapshot mechanism to store to Google Cloud bucket.

Any ti

[2018-06-13 13:47] duchnguyen commented on #195
Hi Pires,

Can you please tell more detail about this? How can I fix it? I don't change anything related to resources.limits.cpu configuration.

Thanks,
Duc

[2018-06-14 06:24] rocketraman opened #197 "Master nodes with unpredictable names"
Another problem I've found running clusters with this setup: if all the master nodes go down for some reason (I had this issue with my masters after applying an updated `Deployment`), the client/data nodes do not automatically recover.

This is because the client/data nodes are still looking to connect to the old master node names, none of which exist any longer. I don't know if this is a bug in t

[2018-06-14 07:39] pires commented on #195
Limits is not the problem here, since it guarantees that your pod will not consume more than 1000ms of cpu per second. But we don't define Requests, so I don't know why Kubernetes complains there's not enough CPU.

For more info, please read https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/.

[2018-06-14 07:41] pires commented on #196
This repo docs do mention how to schedule Curator jobs. You just need to learn Curator enough, in order to create a configuration that will deliver what you need.

[2018-06-14 10:51] syst0m commented on #196
I already have existing snapshot & delete old indices configs, which I need to adapt.
Existing config uses environment variables passed from the shell.
Not sure how to implement those here, they were populated via script scheduled in a cronjob and then passed to the curator jobs.

[2018-06-14 11:04] pires commented on #196
Use https://github.com/pires/kubernetes-elasticsearch-cluster/blob/master/es-curator-config.yaml, maybe?

[2018-06-14 11:12] syst0m commented on #196
I should probably elaborate a bit.
This is the old bash script scheduled in cron:

And the backup_actions.yml is using $DAYS & $SNAPSHOT_NAME set by the shell script:

How would you go about using these shell env vars in docker/k8s?

[2018-06-14 11:17] pires commented on #196
Maybe I'm missing something but can't you simply set env vars in the podSpec such as https://kubernetes.io/docs/tasks/inject-data-application/define-environment-variable-container/?

[2018-06-14 11:29] syst0m commented on #196
$SNAPSHOT_NAME is dynamically generated during each script execution, by using the linux "date" command "date -d -${DAYS}days +%Y-%m-%d)".

I don't think that this is a viable approach for setting a k8s container env var?

[2018-06-14 13:41] depauna commented on #188
Yup, totally messed that up. Something like this.
[code]
Only downside is; when a node goes down or reboots. Cluster status becomes yellow and then when the node tries to start it will never fully happen (will remain 0/1 Running). As the status is not green.

Still wondering if we need it. As with rolling updates data could get lost when as soon as one data node is available again the other one go

[2018-06-14 19:08] #191 closed

[2018-06-14 20:38] pires commented on #102
Adding to the solution above, change the config:

[code]

[2018-06-14 22:43] #102 closed

[2018-06-14 22:43] #178 closed

[2018-06-14 22:43] #187 closed

[2018-06-14 22:43] #195 closed

[2018-06-15 20:17] rewt opened #198 "Master node errors"
![screen shot 2018-06-15 at 4 16 55 pm](https://user-images.githubusercontent.com/2464206/41487704-a14a07a0-70b7-11e8-91ed-d4ac8958bcc0.png)

[2018-06-15 21:08] rewt commented on #198
The issue is not with my environment as I'm able to build cluster with different configs.  Wondering if there is issue in new 6.3.0 image?

[2018-06-16 18:07] rocketraman commented on #198
@pires  I believe 6.3.0 is broken. ES appears to be attempting to run `/elasticsearch/modules/x-pack/x-pack-ml/platform/linux-x86_64/bin/controller` on startup, and fails. It looks like ES 6.3 is attempting to run this x-pack-ml file despite `xpack.ml.enabled` being false.

Running an ldd on this binary shows that there are issues with missing shared libraries:

[code]

[2018-06-16 18:12] #190 closed

[2018-06-16 18:35] rocketraman commented on #198
The relevant ES code seems to be here:

https://github.com/elastic/elasticsearch/blob/72f57c8e72500cb27dc69e902edf5cd270249c14/server/src/main/java/org/elasticsearch/bootstrap/Spawner.java#L61

It appears to attempt to spawn native controllers based on whether they exist in the filesystem. Adding the following to `run.sh` appears to fix it because it silently ignores modules for which the native c

[2018-06-16 20:46] rewt commented on #198
if running on k8s, how can run.sh be modified?  Is quay.io/pires/elasticsearch:6.2.4 image still compatible?

[2018-06-17 00:57] pires commented on #198
@rocketraman I think you may have run one image that was pushed erroneously. Can you make sure you are downloading the current 6.3.0 tag? I just brought a new Kubernetes cluster up and was able to run everything as expected.

[2018-06-17 04:05] rocketraman commented on #198
@pires I believe I have the latest image. Here is the docker history:

[code]

And this is the error I get on startup, without the workaround I posted above, which causes the image to crash loop:

[code]

@rewt If you're getting the same error as me, you can build an image that extends `quay.io/pires/docker-elasticsearch-kubernetes:6.3.0`, with a modified `run.sh` (you can grab the upstream versio

[2018-06-17 16:00] pires commented on #198
The right tag is `b16d5e2a8db4`.

[2018-06-17 16:01] pires commented on #198
Please, delete the image from your system and pull again.

[2018-06-17 21:07] rocketraman commented on #198
@pires It's the right one - the sha256 digest starts with `b16d5e2a8db4`:

[code]

[2018-06-18 09:42] syst0m commented on #196
Additionaly, any tips on how to configure the elasticsearch keystore (which appears to be a requirement for configuring both GCS & AWS S3 access to store snapshots)?

https://www.elastic.co/guide/en/elasticsearch/plugins/current/repository-gcs-usage.html

https://www.elastic.co/guide/en/elasticsearch/plugins/current/repository-s3-client.html

[2018-06-18 16:13] rewt commented on #198
Digging deeper into errors, I found my issue documented here https://github.com/pires/kubernetes-elasticsearch-cluster/issues/64

Adding NETWORK_HOST value _eth0_ to es-master.yml resolved issue as nodes were not obtaining connectivity.

[2018-06-18 17:07] rocketraman commented on #198
@rewt Thanks, I'll create another issue for what I was seeing as it looks to be a different problem.

[2018-06-18 17:11] rocketraman opened #199 "xpack-ml related error on startup of 6.3.0 image"
Using the 6.3.0 images, hash `b16d5e2a8db4`, I am getting an error on startup inside a Kubernetes environment:

[code]

Looking into the container, this file actually does exist, but the `No such file or directory` error is raised by the container OS when `/elasticsearch/modules/x-pack/x-pack-ml/platform/linux-x86_64/bin/controller` is executed, due presumably to missing libraries (as reported by

[2018-06-18 20:16] rocketraman commented on #142
@shengbiaohong  Port 9300 is the "transport" API and is used by the cluster internally. The Java API used to also use the transport API as a client, but Elastic is discouraging this in favor of their new clients that use the REST API via HTTP on port 9200.

The discovery service uses the transport API and is used by cluster members internally to discover each other. As a headless service (`cluster

[2018-06-19 05:11] pires commented on #199
Please see https://github.com/pires/docker-elasticsearch/blob/master/run.sh#L50-L51. I am unable to reproduce this.

[2018-06-19 05:16] pires commented on #199
I'm going to rebuild `docker-elasticsearch` and `docker-elasticsearch-kubernetes`.

[2018-06-19 09:33] Misterhex opened #200 "Question: Off heap native memory usage (Lucene) by elasticsearch running in kubernetes"
As far as i understand, lucene will use up as much as memory as it can from the operating system, which is referred to as off-heap native memory.
https://www.elastic.co/guide/en/elasticsearch/guide/current/heap-sizing.html

Based on this understanding, does it means we have to run the elasticsearch pods in dedicated kubernetes nodes? Since the es pods would just keep crawling as much memory as it

[2018-06-19 11:32] syst0m commented on #196
@pires I will try to build my own image based on yours, the expanded image will create the "elasticsearch.keystore" keyfile, as described here:

https://www.elastic.co/guide/en/elasticsearch/reference/6.3/secure-settings.html

That way all my containers will already have the keystore configuration and gcs key used to authenticate to the gcs bucket used for snapshots.

I tried creating the file, fr

[2018-06-19 12:38] syst0m commented on #196
I found your Dockerfile here, and modified mine accordingly:
https://github.com/pires/docker-elasticsearch/blob/6.2.2_1/Dockerfile

**Dockerfile:**
[code]

Build is failing with:

[code]

[2018-06-19 12:51] syst0m commented on #196
I added ENV NODE_NAME="" before the RUNs, build now failing with:

[code]

[2018-06-19 14:01] moidiqbal opened #201 "any instructions on setting up kibana"

[2018-06-19 14:16] rocketraman commented on #199
You might want to use `$BASE` to be consistent e.g.:

`rm -rf $BASE/modules/x-pack/x-pack-ml`

Also, on my local image, I removed only the platform files, which was sufficient:

`rm -rf $BASE/modules/x-pack/x-pack-ml/platform/linux-x86_64`

I have no clue why this is happening only for me.

[2018-06-19 15:11] pires commented on #199
Have you tried the new SHA?

[2018-06-19 15:12] pires commented on #201
Please, read the instructions. There's a [section for Kibana](https://github.com/pires/kubernetes-elasticsearch-cluster#kibana).

[2018-06-19 15:12] #201 closed

[2018-06-19 15:53] pires commented on #200
IIRC Java heap limits should be enough. If you don't trust those, you can define pod resource limits and Kubernetes will kill the pod if it goes above the limits.

[2018-06-19 19:15] GregSilverman commented on #76
Me as well. Inquiring minds want an answer.

[2018-06-20 03:39] pires commented on #76
Does [this cover it](https://github.com/pires/kubernetes-elasticsearch-cluster/blob/master/es-data.yaml#L61-L71)?

[2018-06-20 06:42] JulienCarnec commented on #76
Yes it does, Thanks!

[2018-06-21 10:28] depauna commented on #188
Any thoughts?

[2018-06-22 13:35] mat1010 commented on #196
Looks like `/elasticsearch` is not accesible for the user `elasticsearch`. What about chaging you chown?
[code]

[2018-06-24 15:26] mootezbessifi opened #202 "Out of memory issue for master and client nodes"
Hi,
i am running a ES cluster on top of k8s (2 es-client, 3 es-master and 3 es-data).
the cluster is used for efk stack.
i configured before the heap size for each one as following:
- each es-client: 2GB
- each es-master: 1GB
- each es-data: 1GB

the cluster was working fine until today when i tried to change the storage with Glusterfs for the es-data and restart all ES deployments.

es-masters an

[2018-06-25 16:38] rewt commented on #202
Try increasing es-data nodes to at least 4 GB.

[2018-06-25 16:40] rewt commented on #200
I have same question, about whether or not swaps are disabled be default.  Any idea how to verify that java heap limits are taking care of this?

[2018-06-27 08:32] mootezbessifi commented on #202
@rewt  thank you very much for your response
when i tried to fo this, all es-data pods generated Out of memory issue.
i want to know i the case of huge traffic from fluentd, pushing logs to ES, what is the best configuration tu use (number of es-masters/client/data and what is the memory heap size for each one)
thank you

[2018-06-27 08:34] mootezbessifi commented on #202
the stange think here is that when it was es-data heap = 1G like es-master and increasing it, it was working fine, but when increasing its heap to 4GB as you recommended @rewt , it returns out of memory issue !!!!

[2018-06-27 14:17] rewt commented on #202
@mootezbessifi In my experience, I was giving java heap more RAM than container was able to provide, so while pod worked fine for a while, as time went on, Java heap would attempt to allocate more RAM than available - hence java heap errors.

I modified resource requests in stateful yaml to include memory req and limits and error, configured java_opts within those limits, and errors resolved.

[2018-06-28 10:50] mootezbessifi commented on #202
@rewt
in my case i am running on top of machines (k8s cluster nodes) with 16GB memory. and as i mentioned before i have 2 es-clients, 3 es-masters and 3 es-data. what is the most suitable memory heap configuration for each es-{type}.

thank you

[2018-06-28 13:56] rewt commented on #202
@mootezbessifi  That is essentially your call and depends what kind of data ES needs to handle.

To resolve java heap out of memory errors, start by checking how much RAM the container is currently consuming:

`kubectl top pod <data node name>`

Then be sure ES_JAVA_OPTS does not exceed how much RAM the pod is currently consuming.

From there you can set limits for the container based on link abov

[2018-06-28 14:57] syst0m opened #203 "Indexing failing on _bulk API calls"
Getting the following errors in nginx pod, while indexing:

[code]
So, looks like the client nodes are not responding within the defined timeout.
This is set in nginx thusly:

[code]

`[error] 47#47: *1759038 user "XXXX" was not found in "/etc/ingress-controller/auth/default-ingress-with-auth.passwd", client: 10.132.0.5, server: XXXX, request: "POST /_bulk?timeout=1m HTTP/1.1", host: "jXXX:80"`

U

[2018-06-29 15:14] jiashenC commented on #85
I have config below to setup my cluster. Setting **max_map_count** fails on  **kubernetes 1.11**. However, it works fine after I downgrade to **kubernetes 1.9** with exactly same config.

[code]

[2018-06-29 15:37] ryandanthony commented on #85
@jiashenC look at
https://kubernetes.io/docs/tasks/administer-cluster/sysctl-cluster/

I think that will solve your 1.11 issue?

[2018-07-01 22:07] alexsandro-xpt commented on #145
@dearjadu It's still work really fine at Azure AKS? What is VM Size are you using?

[2018-07-09 08:02] ivanovaleksandar opened #204 "Data node Crash Loop"
The data node is constantly restarting in the initialization phase after working well for few days.

[code]
After this it crashes and starts a new init once again.

This the the yaml that I am using. I've set up requests and limits accordingly (the java heap is smaller that the pod limits, as people suggested), but with no avail.

[code]

Any idea or suggestion?

[2018-07-09 08:18] mat1010 commented on #204
Does `kubectl describe po/es-data-0` shows any kind of timeouts / issues during startup observed by kubernetes?
Eventually the pod gets killed because it does not startup fast enough to answer to the livenessProbe.

[2018-07-09 08:38] ivanovaleksandar commented on #204
I've changed the ES_JAVA_OPTS to be 50% of the limits (and different variations of those parameters), but still the same crash loop.

Also, I don't see anything strange in the events log, besides the liveliness probe failure when trying to reach `_cluster/health` endpoint, but that is because the init process has not came to the point to start up the service successfully.

[code]

[2018-07-09 08:42] mat1010 commented on #204
But you can see that, like I already assumed, the `liveness` is failing and therefore killing the container :-/
[code]

Could you try to increase the `initialDelaySeconds` like 2 minutes or so to see if it then will come up?

[2018-07-09 08:53] ivanovaleksandar commented on #204
Hey, that worked. :)
That was a trivial overlook from my side. But, as the cluster gets in some data to process and startup the services, the readiness/liveliness need to be adjusted probably.

Thank you @mat1010 ! I will close the issue now.

[2018-07-09 08:54] #204 closed

[2018-07-10 06:32] maryxu opened #205 "Pods elasticsearch failed with "Back-off restarting failed container""
Can you help to guide us about why Pods elasticsearch failed with "Back-off restarting failed container"? Thanks a lot!

[root@####### ~]# kubectl describe pod efk3-elasticsearch-2 --namespace=efk --insecure-skip-tls-verify=true
Name:           efk3-elasticsearch-2
Namespace:      efk
Node:           lvdevk8sw23/10.219.161.3
Start Time:     Tue, 03 Jul 2018 14:58:28 +0800
Labels:         app=elast

[2018-07-10 06:56] mat1010 commented on #205
@maryxu Could you run a `kubectl logs po/efk3-elasticsearch-2 --namespace=efk --insecure-skip-tls-verify=true` and check the PODs logs to see if there are issues with the process within the container itself?

It would be also helpful to paste the output always in code blocks for easier reading.

[2018-07-10 07:13] maryxu commented on #205
Thanks for your response! Do you mean of this? I pasted these into code blocks already.

[root@####### ~]# kubectl logs po/efk3-elasticsearch-2 --namespace=efk --insecure-skip-tls-verify=true
[2018-07-10T07:04:24,598][INFO ][o.e.n.Node               ] [] initializing ...
[2018-07-10T07:04:24,687][WARN ][o.e.b.ElasticsearchUncaughtExceptionHandler] [] uncaught exception in thread [main]
org.elastic

[2018-07-10 07:20] mat1010 commented on #205
It looks like a permission issue

[code]
Elasticsearch seems to not be able to write into ` /usr/share/elasticsearch/data/`

[2018-07-10 08:15] maryxu commented on #205
I’m not quite understand. I’m using a NFS data for the PV and PVC. For the other applications, the container can write to the NFS data without no problem.

[root@k8s-test11 data]# kubectl get pv,pvc --namespace=efk --insecure-skip-tls-verify=true
NAME                           CAPACITY   ACCESS MODES   RECLAIM POLICY   STATUS    CLAIM                                STORAGECLASS   REASON    AGE
pv/

[2018-07-11 09:31] SHUFIL opened #206 "unknown field "hostPath""
i getting this issue , only one change in yaml file , what i have used in yaml instead of
[code]
i have used
[code]
but its getting error .

[2018-07-12 01:56] erkolson opened #207 "Re-election of master causes ~40s cluster outage"
The Elasticsearch team indicate (in issues/discussions) that a master re-election should only cause a ~5 second outage of the cluster. In practice, I am consistently seeing 40-55 second outages. It could possibly be related to #105 ?

By outage, I mean the clients timeout on any call, whether it be `_cluster/health` or even `_cat/indices`.

From looking at the logs, it appears that the remaining m

[2018-07-12 06:18] pires commented on #207
Did you try disabling Ipv6 as per comment in #105?

[2018-07-12 13:59] erkolson commented on #207
I just gave it a try and with `NETWORK_HOST` set to `_eth0:ipv4_` on the masters and still see the same behavior.

[2018-07-12 14:08] pires commented on #207
Can you try the latest 6.3.1 images (this repo has yet to be updated) and report back? Want to make sure this isn't a version thing.

Also, can you reproduce this all the time? Have you tried different Kubernetes clusters?

[2018-07-12 15:27] mbecker opened #208 "fluentd - Elasticsearch host/port: Ingest node"
Hi All,

thanks for your great work!

I'm just wondering which elasticsearch endpoint responsible to index a document.

In my case I want to setup fluentd which should post the document to the endpoint. In a simple setup with just 1 x elasticsearch service the host is like "http://elasticearch-logging" as defined in kubespray. The confiuration for fluentd in kubespray is as follows: ( https://gith

[2018-07-13 01:10] erkolson commented on #207
I'm seeing the same behavior with 6.3.1.

So far, all of my testing has been in GKE, but I've seen this behavior across several versions.  I have docker edge so can try with the kubernetes that provides if I have enough resources on my workstation.

After a lot of troubleshooting today I got the outage down to 14s.  With help from a colleague who knows ES better than me today, we did lots of testi

[2018-07-16 17:49] erkolson commented on #207
After much troubleshooting, I realized the actual problem is the query I am running.  The documentation says "reads" should succeed while the master is being elected and I assumed that a `GET` on `/_cat/indices` would be a "read".  This call will fail for the duration that I have described in this issue but a search query like `/<index-name>/_search?q=some%20text` will work throughout the entire m

[2018-07-19 05:41] viettd commented on #128
Thank @PanJ  and @erkolson that works for me!

[2018-07-19 09:13] waynetaylor opened #209 "Great Project - Thanks"
Thank you to everyone that has contributed to this project.

Nice to follow instructions. I've pieced together a 6.3.0 cluster based on the steps mentioned here after building a Kubernetes Cluster for first time.

there were a few modifications needed to the yaml files to  get everything working as expected - but these are documented or raised as issues already:

- I wanted this to be an external

[2018-07-23 08:11] pires commented on #209
Hello! Thanks for taking the time to share your story. Re: plans for xpack ML support, there's none. Hopefully, they'll add support for Alpine Linux.

[2018-08-02 10:34] Fus1oNn opened #210 "Index templates lost after updating/recreating pods"
Hi Paulo!
First of all, I want to say thank you for this amazing project.

I'm at the end of building a production grade ES cluster using pretty much all the components you put out here. After updating all the pods with a plugin (recreating every pod), the index templates seem to be deleted. Those templates are stored in ES through the API using a PUT request. Initially, I thought all data is stor

[2018-08-02 12:27] pires commented on #210
Why not? Open to review a PR ;)

[2018-08-02 12:28] pires commented on #207
Thanks for reporting back @erkolson. I'm going to close this, but let me know if you want to re-open and define any other course of action.

[2018-08-02 12:29] #207 closed

[2018-08-02 22:40] Fus1oNn commented on #210
Hehe great! There it is, #211 :)

[2018-08-04 14:48] bigfoot31 opened #212 "Explanation"
Can anyone explain in detail how master is discovering each other, how ingest nodes are discovering the data nodes. Why data nodes need to be stateful sets?

Pointing to the right articles would also be helpful.

[2018-08-06 06:42] jiuchongxiao opened #213 "how to set the env parameter max_local_storage_nodes?"
how to set the env parameter max_local_storage_nodes? who can help me , thank you .

[2018-08-07 09:25] xxf09th commented on #175
@tarr11 thx! It works

[2018-08-16 18:32] ksemaev commented on #67
The problem is back on v1.10.3 in AWS EKS

[2018-08-17 08:44] ksemaev opened #215 "max file descriptors is too low on AWS EKS"
So debugged it from very begining:

[code]

I believe that you should specify in prerequsites ulimit setup

[2018-08-17 09:38] ksemaev commented on #215
In my case it was defaut docker setup on EKS, had to do:

[2018-08-17 16:49] moidiqbal opened #216 "I need to update thread_pool.bulk.queue_size: 2000 in cluster settings"
Im getting logstash issues while running my jobs. I need to update the key
thread_pool.bulk.queue_size: 2000 manually as we couldnt set it dynamically.
Thanks

[2018-08-10T18:06:09,667][INFO ][logstash.outputs.elasticsearch] retrying failed action with response code: 429 ({"type"=>"es_rejected_execution_exception", "reason"=>"rejected execution of org.elasticsearch.transport.TransportService$7@367

[2018-08-17 19:13] pranayhere opened #217 "ElasticSearch cluster is slow"
I've setup the Stateful ElasticSearch cluster. We are hitting around 300 req/sec.
The newly created cluster is slower than the managed ES cluster by AWS.

To provision the ES cluster on Kubernetes, we are using 3 i3.xlarge ec2 instances. I've followed the steps mentioned https://github.com/pires/kubernetes-elasticsearch-cluster/tree/master/stateful.
Currently, we are not using Ingest nodes, instea

[2018-08-19 12:42] pranayhere commented on #217
any suggestions?

[2018-08-20 08:43] pires commented on #217
Did you change the resources allocated to your Elasticsearch pods?

[2018-08-20 08:45] pires commented on #216
You should be able to pass your own configuration by mounting it in `/elasticsearch/config`.

[2018-08-20 08:50] pires commented on #215
Thanks for the suggestion. I'll leave this here for future reference.

[2018-08-20 08:58] pires commented on #213
Just like [setting any other environment variable on any Kubernetes pod](https://kubernetes.io/docs/tasks/inject-data-application/define-environment-variable-container/).

[2018-08-20 08:58] #213 closed

[2018-08-20 11:55] moidiqbal commented on #216
any info on how to do it on running pods?

[2018-08-20 12:44] pires commented on #216
You can't do it on running pods.

[2018-08-20 12:49] moidiqbal commented on #216
do i need to deploy the cluster again? or is there any command that needs to be executed that restart pods with these settings?

[2018-08-20 13:38] pires commented on #216
I'm sorry but I can't help if you lack understanding of the basics of Kubernetes usage, such as setting defining (mounting) paths onto Kubernetes pods.

[2018-08-20 14:09] #216 closed

[2018-08-20 22:15] Nalum opened #218 "Deprecated service"
In the `README.md` the Kubernetes `Service` file below is listed as a required resource in the setup guide:
https://github.com/pires/kubernetes-elasticsearch-cluster/blob/3053cdda99cdc6f67e6fee892119929d701b4e7e/es-svc.yaml#L1-L15
https://github.com/pires/kubernetes-elasticsearch-cluster/blob/3053cdda99cdc6f67e6fee892119929d701b4e7e/README.md#L67-L81

Then when setting up the data nodes using the

[2018-08-21 13:16] pires commented on #218
You're right, it seems to be leftovers from a distant past. I'll remove it, thanks.

[2018-08-21 13:42] #218 closed

[2018-08-22 03:16] pranayhere commented on #217
yeah, I changed heap size to half of the available memory by changing `ES_JAVA_OPTS` parameter. However, what should be the correct size? Setting ~50% for heap is right thing to do?

We are running the cluster for a day in production and memory is 99% full. What can be done?
[code]

[2018-08-22 05:48] pranayhere commented on #217
`_cluster/stats` after running ES in production are

[code]

[2018-08-22 06:01] mat1010 commented on #217
@pranayhere the question was also about the resource allocation within the pods (I think).

[code]
https://github.com/pires/kubernetes-elasticsearch-cluster/blob/2f432d3666db73dfca86435bae71bde707683ab4/stateful/es-data-stateful.yaml#L52

In any case https://discuss.elastic.co/c/elasticsearch is a better place to ask such questions.